.about{
    position: relative;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
                
    @media screen and (max-width: $mobileMax) {
        width: calc(100vw - (30px * 2));
        padding: 60px 30px 0;
    }
    @media screen and (min-width: $tabletMin) and (max-width: $tabletMax) {
        width: calc(100vw - (50px * 2));
        padding: 125px 50px 0;
    }
    @media screen and (min-width: $desktopMin) {
        width: max-content;
        padding: 15vh 0 0 20vw;
    }

    &_content{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;

        font-weight: 400;
        
        @media screen and (min-width: $desktopMin) {
            flex-direction: unset;
            align-items: unset;
            display: flex;
        }

        &_text{
            @media screen and (min-width: $desktopMin) {
                margin-right: 6vw;
            }

            p{
                br{
                    display: none;
                }
    
                em{
                    font-style: normal;
                    font-weight: 600;
                }

                @media screen and (max-width: $mobileMax) {
                    margin-bottom: 10px;
                }
                @media screen and (min-width: $tabletMin) and (max-width: $tabletMax) {
                    margin-bottom: 15px;
                }
                @media screen and (min-width: $desktopMin) {
                    margin-bottom: 1.38vh;

                    br{
                        display: block;
                    }
                }
            }
        }

        &_techs-wrapper{
            position: relative;

            svg{
                position: absolute;
                width: 100%;
                height: 100%;
                opacity: 25%;
                top: 0%;
                left: 0%;

                @media screen and (min-width: $desktopMin) {
                    top: -10%;
                }
            }

            @keyframes dash-dark {
                0% {
                    stroke-dashoffset: 1000;
                    fill: transparent;
                    stroke: $darkGradientColorYellow;
                }
                100%{
                    stroke-dashoffset: 0;
                    fill: $darkGradientColorPink;
                    stroke: $darkGradientColorYellow;
                }
            }

            @keyframes dash-light {
                0% {
                    stroke-dashoffset: 1000;
                    fill: transparent;
                    stroke: $lightGradientColorPurple;
                }
                100%{
                    stroke-dashoffset: 0;
                    fill: $lightGradientColorBlue;
                    stroke: $lightGradientColorPurple;
                }
            }
        }

        &_techs{
            z-index: 1;

            @media screen and (min-width: $desktopMin) {
                transform: translateY(-10%);
            }

            .tagcloud{
                z-index: 1;
                
                &--item.technologies{
                    font-family: 'Roboto Mono';
                    font-weight: 500;
                    will-change: transform, filter, opacity !important;
                    transition: background-image .3s ease-in-out, color .3s ease-in-out, filter .3s ease-in-out;
                    background-size: 175%;
                    animation: gradient 5s ease-in-out infinite;
                
                    @media screen and (max-width: $mobileMax) {
                    }
                    @media screen and (min-width: $tabletMin) and (max-width: $tabletMax) {
                    }
                    @media screen and (min-width: $desktopMin) {
                        font-size: 1.57vh;
                    }
                }

                &.dark{
                    .tagcloud--item.technologies{
                        color: $darkFontColor;

                        &:hover{
                            color: transparent;
                            background-image: $darkLinearGradientDiagonal;
                            background-clip: text;
                        }
                    }
                }

                &.light{
                    .tagcloud--item.technologies{
                        color: $lightFontColor;

                        &:hover{
                            color: transparent;
                            background-image: $lightLinearGradientDiagonal;
                            background-clip: text;
                        }
                    }
                }
            }
        }
    }

    &.dark{
        .about_content{
            color: $darkFontColor;
    
            &_text{
                ul{
                    li{
                        list-style-image: url(../assets/bullet-point-dark.svg);
                    }
                }
            }
    
            &_portrait{
                span{
                    background-image: $darkLinearGradientDiagonal;
    
                    &::before{
                        background-color: $darkGradientColorOrange;
                    }
                }
            }

            &_techs-wrapper{
                svg{
                    filter: $darkGlowDropShadowOffset;
                    
                    path {
                        fill: $darkGradientColorPink;
                        stroke: $darkGradientColorYellow;
                        stroke-dasharray: none;

                        @media screen and (min-width: $desktopMin) {
                            fill: transparent;
                            stroke: transparent;
                            stroke-dasharray: 1000;
                        }
                    }
                }
            }
        }
    }

    &.light{
        .about_content{
            color: $lightFontColor;
    
            &_text{
                ul{
                    li{
                        list-style-image: url(../assets/bullet-point-light.svg);
                    }
                }
            }
    
            &_portrait{
                span{
                    background-image: $lightLinearGradientDiagonal;
    
                    &::before{
                        background-color: $lightGradientColorPurple;
                    }
                }
            }

            &_techs-wrapper{
                svg{
                    filter: $lightGlowDropShadowOffset;

                    path {
                        fill: $lightGradientColorBlue;
                        stroke: $lightGradientColorPurple;
                        stroke-dasharray: none;

                        @media screen and (min-width: $desktopMin) {
                            fill: transparent;
                            stroke: transparent;
                            stroke-dasharray: 1000;
                        }
                    }
                }
            }
        }
    }
}