.contact{
    position: relative;
    height: max-content;
    max-width: calc(100vw - (8.33vw * 2));
    padding: 10vh 8.33vw 6.94vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    align-self: center;
    z-index: 0;
    
    @media screen and (min-width: $mobile-max) {
        padding: 20vh 0 14vh 0;
        width: 60vw;
        max-width: 60vw;
    }

    .section_heading{
        justify-content: center;

        h1{
            width: 92.5%;
            text-align: center;
            line-height: 100%;

            span{
                left: -1.5vw;
            }
        }
    
        @media screen and (min-width: $mobile-max) {
            h1{
                line-height: normal;
    
                span{
                    left: 1.875vw;
                    width: 92.5%;
                    //left: 12.1vw;
                }
            }
        }
    }

    &_content{
        display: flex;
        flex-direction: column;
        align-items: center;

        p{
            font-size: 2.105vh;
            text-align: center;
            margin-bottom: 3.94vh;
    
            @media screen and (min-width: $mobile-max) {
                font-size: 2.037vh;
                margin-bottom: 2.77vh;
                width: 60%;
            }
        }

        a{
            position: relative;
            border-radius: 1.5vh;
            line-height: 100%;
            text-decoration: none;
            font-family: "Roboto Mono";
            font-weight: 600;
            font-size: 1.8vh;
            //padding: 3.89vw 6.944vw;
            padding: 1.75vh 2.5vh;
            transition: .3s ease-in-out;
    
            @media screen and (min-width: $mobile-max) {
                font-size: 1.481vh;
                padding: 1.75vh 1.25vw;
            }

            span{
                transition: .3s ease-in-out;
            }

            &:hover,
            &:active{
                span{
                    background-clip: text;
                    animation: gradient 5s ease-in-out infinite;
                    background-size: 135%;
                }
            }

            &::before{
                position: absolute;
                left: -1%;
                top: -1%;
                width: 102%;
                height: 102%;

                display: block;
                content: "";
                background-size: 175%;
                border-radius: 1.5vh;
                animation: gradient 5s ease-in-out infinite;
                transition: .3s ease-in-out;
                z-index: -1;
    
                @media screen and (min-width: $mobile-max) {
                    height: 104%;
                    top: -2%;
                }
            }
        }
    }

    &.dark{
        .contact_content{
            a{
                background-color: $darkBgColor;

                span{
                    color: $darkFontColor;
                }
    
                &:hover,
                &:active{
                    span{
                        background-image: $darkLinearGradientDiagonal;
                        color: transparent;
                    }
    
                    &::before{
                        filter: $darkGlowDropShadowNone;
                    }
                }
    
                &::before{
                    background-image: $darkLinearGradientDiagonal;
                    filter: $darkGlowDropShadowOffset;
                }
            }
        }
    }

    &.light{
        .contact_content{
            a{
                background-color: $lightBgColor;

                span{
                    color: $lightFontColor;
                }
    
                &:hover,
                &:active{
                    span{
                        background-image: $lightLinearGradientDiagonal;
                        color: transparent;
                    }
    
                    &::before{
                        filter: $lightGlowDropShadowNone;
                    }
                }
    
                &::before{
                    background-image: $lightLinearGradientDiagonal;
                    filter: $lightGlowDropShadowOffset;
                }
            }
        }
    }
}