.contact{
    position: relative;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    align-self: center;
    z-index: 0;
                
    @media screen and (max-width: $mobileMax) {
        width: calc(100vw - (30px * 2));
        padding: 75px 30px 50px;
    }
    @media screen and (min-width: $tabletMin) and (max-width: $tabletMax) {
        width: calc(100vw - (50px * 2));
        padding: 75px 50px 100px;
    }
    @media screen and (min-width: $desktopMin) {
        padding: 20vh 0 14vh 0;
        width: 60vw;
        max-width: 60vw;
    }

    .section_heading{
        justify-content: center;
        margin-left: 0;
        
        h1{
            text-align: center;
        }
    }

    &_content{
        display: flex;
        flex-direction: column;
        align-items: center;

        p{
            text-align: center;
                
            @media screen and (max-width: $mobileMax) {
            }
            @media screen and (min-width: $tabletMin) and (max-width: $tabletMax) {
            }
            @media screen and (min-width: $desktopMin) {
                width: 60%;
            }
        }

        .contact_content_button_wrapper{
            @media screen and (max-width: $mobileMax) {
                margin-top: 40px;
            }
            @media screen and (min-width: $tabletMin) and (max-width: $tabletMax) {
                margin-top: 60px;
            }
            @media screen and (min-width: $desktopMin) {
                margin-top: 4vh;
            }
        }

        a{
            position: relative;
            border-radius: 1.5vh;
            line-height: 100%;
            transition: .3s ease-in-out;

            @media screen and (max-width: $mobileMax) {
                padding: 15px 17.5px;
                font-size: 14px;
            }
            @media screen and (min-width: $tabletMin) and (max-width: $tabletMax) {
                padding: 20px 25px;
                font-size: 20px;
            }
            @media screen and (min-width: $desktopMin) {
                font-size: 1.481vh;
                padding: 1.5vh 1.25vw 1.75vh;
            }

            span{
                transition: .3s ease-in-out;
            }

            &:hover,
            &:active{
                span{
                    background-clip: text;
                    animation: gradient 5s ease-in-out infinite;
                    background-size: 135%;
                }
            }

            &::before{
                position: absolute;

                display: block;
                content: "";
                background-size: 175%;
                border-radius: 1.5vh;
                animation: gradient 5s ease-in-out infinite;
                transition: .3s ease-in-out;
                z-index: -1;

                @media screen and (max-width: $mobileMax) {
                    left: -1px;
                    top: -1px;
                    width: calc(100% + 2px);
                    height: calc(100% + 2px);
                }
                @media screen and (min-width: $tabletMin) and (max-width: $tabletMax) {
                    left: -1.5px;
                    top: -1.5px;
                    width: calc(100% + 3px);
                    height: calc(100% + 3px);
                }
                @media screen and (min-width: $desktopMin) {
                    left: -1.5px;
                    top: -1.5px;
                    width: calc(100% + 3px);
                    height: calc(100% + 3px);
                }
            }
        }
    }

    &.dark{
        .contact_content{
            a{
                background-color: $darkBgColor;

                span{
                    color: $darkFontColor;
                }
    
                &:hover,
                &:active{
                    span{
                        background-image: $darkLinearGradientDiagonal;
                        color: transparent;
                    }
    
                    &::before{
                        filter: $darkGlowDropShadowNone;
                    }
                }
    
                &::before{
                    background-image: $darkLinearGradientDiagonal;
                    filter: $darkGlowDropShadowOffset;
                }
            }
        }
    }

    &.light{
        .contact_content{
            a{
                background-color: $lightBgColor;

                span{
                    color: $lightFontColor;
                }
    
                &:hover,
                &:active{
                    span{
                        background-image: $lightLinearGradientDiagonal;
                        color: transparent;
                    }
    
                    &::before{
                        filter: $lightGlowDropShadowNone;
                    }
                }
    
                &::before{
                    background-image: $lightLinearGradientDiagonal;
                    filter: $lightGlowDropShadowOffset;
                }
            }
        }
    }
}