.email_section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    @media screen and (min-width: $mobile-max) {
        z-index: 5;
    }

    &_container{

        span{
            transform: translateX(calc(1.6vh / 2));
            height: 19.73vh;
            width: 0.5vw;
            border-radius: 1.5vh;
            display: block;
            background-size: 175%;
    
            &:nth-of-type(1){
                margin-bottom: 1.97vh;
            }
            &:nth-of-type(2){
                margin-top: 1.97vh;
            }
    
            @media screen and (min-width: $mobile-max) {
                height: 6vh;
                width: 0.1vw;
                border-radius: 1.5vh;
                display: block;
                background-size: 175%;
        
                &:nth-of-type(1){
                    margin-bottom: 1.416vh;
                }
                &:nth-of-type(2){
                    margin-top: 1.416vh;
                }
            }
        }
    
        a{
            cursor: pointer;
            font-family: 'Roboto Mono';
            font-size: 1.6vh;
            position: relative;
            text-decoration: none;
            font-weight: 400;
    
            background-size: 175%;
            background-clip: text;
            //animation: gradient 5s ease-in-out infinite;
            writing-mode: tb-rl;
    
            label{
                cursor: pointer;
                position: absolute;
                left: 0%;
                top: -0.1vh;
                transition: .3s ease-in-out;
            }
        }
    }

    &.dark{
        span{
            filter: $darkGlowDropShadow;
    
            &:nth-of-type(1){
                background-image: $darkLinearGradientStraightOpposite;
            }
            &:nth-of-type(2){
                background-image: $darkLinearGradientStraight;
            }
        }
    
        a{
            background-image: $darkLinearGradientDiagonal;
            color: transparent;
    
            label{
                color: white;
                transition: .3s ease-in-out;
    
                &:hover{
                    filter: $darkGlowDropShadow;
                }
            }
        }
    }

    &.light{
        span{
            filter: $lightGlowDropShadow;
    
            &:nth-of-type(1){
                background-image: $lightLinearGradientStraightOpposite;
            }
            &:nth-of-type(2){
                background-image: $lightLinearGradientStraight;
            }
        }
    
        a{
            background-image: $lightLinearGradientDiagonal;
            color: transparent;
            transition: .3s ease-in-out;
    
            &:hover{
                filter: $lightGlowDropShadow;
            }
    
            label{
                color: $lightFontColor;
            }
        }
    }
}