header{
    position: relative;
    transition: .3s ease-in-out;

    &.scrolled{
        .header{
            padding: 1.75vh 0;
            box-shadow: 0px 2.5px 15px 0px rgba(0,0,0,0.75);
        }

        .header_logo{
            svg{
                transform: scale(.9);
            }
        }
    
        .header_hamburger > span{
            transform: translateX(500%);
        }
        
        @media screen and (min-width: $mobile-max) {
            .header{
                padding: 1vh 0;
                box-shadow: 0px 2.5px 15px 0px rgba(0,0,0,0.75);
            }
    
            .header_logo{
                svg{
                    transform: scale(.9);
                }
            }
    
            nav{
                transform: translateY(-500%);
            }
    
            .header_resume{
                transform: translateY(-500%);
            }
        }
    }
    
    .header{
        transition: .2s ease-in-out;
        width: 100%;
        height: auto;
        padding: 2.631578947368421vh 0;
        background-color: transparent;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        top: 0%;
        left: 0%;
        z-index: 6;
        //backdrop-filter: blur(5px);
        backdrop-filter: blur(15px);
    
        @media screen and (min-width: $mobile-max) {
            transition: .3s ease-in-out;
            padding: 2.75vh 0;
        }

        .header_logo{
            margin-left: 5.556vw;
            z-index: 6;
    
            a{
                text-decoration: none;
    
                &:hover{
                    svg{
                        filter: drop-shadow(0 0 0.6944vh rgba(255, 162, 0, .5));
                    }
                }
    
                svg{
                    transition: .3s ease-out;
                    width: 13.611vw;
                    height: 8.48056vw;
                }
            }
    
            @media screen and (min-width: $mobile-max) {
                margin: 0 3.58854167vw 0 2.6041667vw;
    
                svg{
                    transition: .3s ease-in-out;
                    width: 2.75vw !important;
                    height: 2.916vh !important;
                }
            }
        }
    
        nav{
            display: none;
            transition: .3s ease-in-out;
    
            @media screen and (min-width: $mobile-max) {
                display: block;
                width: 100%;
            }
    
            a{
                position: relative;
                font-family: "Roboto Mono";
                font-weight: 600;
                line-height: 100%;
                text-decoration: none;
                backface-visibility: hidden;
                -webkit-font-smoothing: subpixel-antialiased;
    
                &.active,
                &:hover{
                    background-size: 175%;
                    background-clip: text;
                    animation: gradient 5s ease-in-out infinite;
                }
    
                @media screen and (min-width: $mobile-max) {
                    font-size: 1.481vh;
                    transition: .3s ease-out;
                    
                    &:not(:last-of-type){
                        margin-right: 1.5625vw;
                    }
                }
            }
        }
    
        .header_resume{
            display: none;
            transition: .3s ease-in-out;
            backface-visibility: hidden;
            -webkit-font-smoothing: subpixel-antialiased;
    
            @media screen and (min-width: $mobile-max) {
                display: flex;
                align-items: center;
                margin-right: 2.604167vw;
                background-size: 175%;
                border-radius: 1.5vh;
                padding: 0.092592vh 0.0520833vw;
                transition: .3s ease-out;
                animation: gradient 5s ease-in-out infinite;
    
                &:hover{
                    animation: gradient 5s ease-in-out infinite;
    
                    a{
                        background-clip: text;
                        animation: gradient 5s ease-in-out infinite;
                        background-size: 135%;
                    }
                }
    
                div{
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 1.5vh;
    
                    a{
                        line-height: 100%;
                        text-decoration: none;
                        font-family: "Roboto Mono";
                        font-weight: 600;
                        font-size: 1.481vh;
                        padding: calc(1.389vh + 0.092592vh) calc(1.3020833vw + 0.0520833vw);
                        z-index: 2;
                        border-radius: 1.5vh;
                        transition: .3s ease-out;
    
                        &:active{
                            background-clip: text;
                            animation: gradient 5s ease-in-out infinite;
                            background-size: 135%;
                        }
                    }
                }
            }
        }

        .theme_toggler{
            display: none;

            @media screen and (min-width: $mobile-max) {
                display: block;
                margin-right: 2.604167vw;
                backface-visibility: hidden;
                -webkit-font-smoothing: subpixel-antialiased;
            }
        }
    
        .header_hamburger{
            width: 11.944vw;
            margin-right: 5.556vw;
            position: relative;
            z-index: 6;
    
            &.open{
                span{
                    right: -300%;
        
                    &::before,
                    &::after{
                        height: 1.38vw;
                        border-radius: 1.5vh;
                        display: block;
                        content: "";
                        position: absolute;
                    }
        
                    &::before{
                        transform: translateY(-2.75vw);
                    }
                    &::after{
                        transform: translateY(2.75vw);
                    }
        
                    &:nth-of-type(1){
                        width: 11.11vw;
                        z-index: 2;
        
                        &::before,
                        &::after{
                            right: 350%;
                        }
        
                        &::before{
                            width: 11.11vw;
                            transform: rotate(45deg);
                        }
                        &::after{
                            width: 11.11vw;
                            transform: rotate(135deg);
                        }
                    }
        
                    &:nth-of-type(2){
                        background-size: 175%;
                        width: 11.11vw;
                        animation: gradient 5s ease-in-out infinite;
        
                        &::before,
                        &::after{
                            right: 350%;
                        }
        
                        &::before{
                            width: 11.11vw;
                            background-size: 175%;
                            animation: gradient 5s ease-in-out infinite;
                            transform: rotate(45deg) translateY(0.6vw) translateX(-0.25vw);
                        }
                        &::after{
                            width: 11.11vw;
                            background-size: 175%;
                            animation: gradient 5s ease-in-out infinite;
                            transform: rotate(135deg) translateY(0.6vw) translateX(0.25vw);
                        }
                    }
                }
            }
    
            span{
                position: absolute;
                height: 1.38vw;
                border-radius: 1.5vh;
                display: block;
                right: 0%;
                cursor: pointer;
                transition: .3s ease-in-out;
    
                &::before,
                &::after{
                    transition: .3s ease-in-out;
                    height: 1.38vw;
                    border-radius: 1.5vh;
                    display: block;
                    content: "";
                    position: absolute;
                    right: 0%;
                }
    
                &::before{
                    transform: translateY(-2.75vw);
                }
                &::after{
                    transform: translateY(2.75vw);
                }
    
                &:nth-of-type(1){
                    width: 7.78vw;
                    z-index: 2;
    
                    &::before{
                        width: 11.11vw;
                    }
                    &::after{
                        width: 4.44vw;
                    }
                }
    
                &:nth-of-type(2){
                    background-size: 175%;
                    width: 8.611vw;
                    animation: gradient 5s ease-in-out infinite;
    
                    &::before{
                        width: 11.944vw;
                        background-size: 175%;
                        animation: gradient 5s ease-in-out infinite;
                    }
                    &::after{
                        width: 5.278vw;
                        background-size: 175%;
                        animation: gradient 5s ease-in-out infinite;
                    }
                }
            }
    
            @media screen and (min-width: $mobile-max) {
                display: none;
            }
        }

        &.dark{
            //background-color: $darkBgColorTransl;

            .header_logo{
                a{
                    &:hover{
                        svg{
                            filter: $darkGlowDropShadow;
                        }
                    }

                    svg{
                        &:nth-of-type(1){
                            display: block;
                        }
                        &:nth-of-type(2){
                            display: none;
                        }
                    }
                }
            }
    
            nav{
                a{
                    color: white;
        
                    &.active,
                    &:hover{
                        color: transparent;
                        background-image: $darkLinearGradientDiagonal;
                        filter: $darkGlowDropShadow;
                    }
                }
            }
        
            .header_resume{
                @media screen and (min-width: $mobile-max) {
                    background-image: $darkLinearGradientDiagonal;
        
                    &:hover{
                        filter: $darkGlowDropShadow;
        
                        a{
                            background-image: $darkLinearGradientDiagonal;
                            color: transparent;
                        }
                    }
        
                    div{
                        background-color: $darkBgColor;
        
                        a{
                            color: white;
                            background-color: transparent;
        
                            &:active{
                                background-image: $darkLinearGradientDiagonal;
                                color: transparent;
                            }
                        }
                    }
                }
            }

            .theme_toggler{
                &_toggle{
                    top: -50%;
                    right: -25%;

                    @media screen and (min-width: $mobile-max) {
                        top: -50%;
                        right: -25%;
                    }
                }
            }
        
            .header_hamburger{
                &.open{
                    span{
                        &:nth-of-type(1){
                            background-color: white;
            
                            &::before,
                            &::after{
                                background-color: white;
                            }
                        }
            
                        &:nth-of-type(2){
                            background-image: linear-gradient(45deg, $darkGradientColorYellow -25%, $darkGradientColorOrange 25%, $darkGradientColorPink 75%);
            
                            &::before{
                                background-image: $darkLinearGradientDiagonal;
                            }
                            &::after{
                                background-image: $darkLinearGradientDiagonalOpposite;
                            }
                        }
                    }
                }
        
                span{
                    &:nth-of-type(1){
                        background-color: white;
        
                        &::before,
                        &::after{
                            background-color: white;
                        }
                    }
        
                    &:nth-of-type(2){
                        background-image: linear-gradient(45deg, $darkGradientColorYellow -25%, $darkGradientColorOrange 25%, $darkGradientColorPink 75%);
        
                        &::before{
                            background-image: linear-gradient(45deg, $darkGradientColorYellow 0%, $darkGradientColorOrange 50%, $darkGradientColorPink 100%);
                        }
                        &::after{
                            background-image: linear-gradient(45deg, $darkGradientColorYellow -50%, $darkGradientColorOrange 0%, $darkGradientColorPink 50%);
                        }
                    }
                }
            }
        }
    
        &.light{
            //background-color: $lightBgColorTransl;

            .header_logo{
                a{
                    &:hover{
                        svg{
                            filter: $lightGlowDropShadow;
                        }
                    }

                    svg{
                        &:nth-of-type(1){
                            display: none;
                        }
                        &:nth-of-type(2){
                            display: block;
                        }
                    }
                }
            }
    
            nav{
                a{
                    color: $lightFontColor;
        
                    &.active,
                    &:hover{
                        color: transparent;
                        background-image: $lightLinearGradientDiagonal;
                        filter: $lightGlowDropShadow;
                    }
                }
            }
        
            .header_resume{
                @media screen and (min-width: $mobile-max) {
                    background-image: $lightLinearGradientDiagonal;
        
                    &:hover{
                        filter: $lightGlowDropShadow;
        
                        a{
                            background-image: $lightLinearGradientDiagonal;
                            color: transparent;
                        }
                    }
        
                    div{
                        background-color: $lightBgColor;
        
                        a{
                            color: $lightFontColor;
                            background-color: transparent;
        
                            &:active{
                                background-image: $lightLinearGradientDiagonal;
                                color: transparent;
                            }
                        }
                    }
                }
            }

            .theme_toggler{
                &_toggle{
                    top: -50%;
                    left: -25%;

                    @media screen and (min-width: $mobile-max) {
                        top: -50%;
                        left: -25%;
                    }
                }
            }
        
            .header_hamburger{
                &.open{
                    span{
                        &:nth-of-type(1){
                            background-color: $lightFontColor;
            
                            &::before,
                            &::after{
                                background-color: $lightFontColor;
                            }
                        }
            
                        &:nth-of-type(2){
                            background-image: linear-gradient(45deg, $lightGradientColorBlue -25%, $lightGradientColorPurple 25%, $lightGradientColorPink 75%);
            
                            &::before{
                                background-image: $lightLinearGradientDiagonal;
                            }
                            &::after{
                                background-image: $lightLinearGradientDiagonalOpposite;
                            }
                        }
                    }
                }
        
                span{
                    &:nth-of-type(1){
                        background-color: $lightFontColor;
        
                        &::before,
                        &::after{
                            background-color: $lightFontColor;
                        }
                    }
        
                    &:nth-of-type(2){
                        background-image: linear-gradient(45deg, $lightGradientColorBlue -25%, $lightGradientColorPurple 25%, $lightGradientColorPink 75%);
        
                        &::before{
                            background-image: linear-gradient(45deg, $lightGradientColorBlue 0%, $lightGradientColorPurple 50%, $lightGradientColorPink 100%);
                        }
                        &::after{
                            background-image: linear-gradient(45deg, $lightGradientColorBlue -50%, $lightGradientColorPurple 0%, $lightGradientColorPink 50%);
                        }
                    }
                }
            }
        }
    }

    .header_drawer{
        z-index: 5;
        position: fixed;
        left: 100%;
        width: 100vw;
        overflow: hidden;
        transition: .3s ease-in-out;
        backdrop-filter: blur(10px);

        &.open{
            left: 0%;
        }

        @media screen and (min-width: $mobile-max) {
            display: none;
        }

        &_bottom{
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: flex-start;
            width: 100%;
            //margin-top: 6.5vh;
            margin-top: 5vh;
            
            .socials_section{
                margin-top: 10%;
                margin-left: 6.944vw;
            }

            &_menu{
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                margin-right: 8.33vw;

                .theme_toggler{
                    display: block;
                    margin-bottom: 5vh;
                }

                nav{
                    display: flex;
                    align-items: flex-end;
                    flex-wrap: wrap;
                    flex-direction: column;
                    margin-bottom: 6.57vh;

                    a{
                        font-size: 1.8vh;
                        line-height: normal;
                        position: relative;
                        font-family: "Roboto Mono";
                        font-weight: 600;
                        line-height: 100%;
                        text-decoration: none;
            
                        &.active,
                        &:hover{
                            background-size: 175%;
                            background-clip: text;
                            animation: gradient 5s ease-in-out infinite;
                        }

                        &:not(:last-of-type){
                            margin-bottom: 1.3vh;
                        }
                    }
                }
        
                &_resume{
                    background-size: 175%;
                    border-radius: 1.5vh;
                    padding: 0.278vw;
                    width: max-content;
                    animation: gradient 5s ease-in-out infinite;

                    div{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 1.5vh;

                        a{
                            line-height: 100%;
                            text-decoration: none;
                            font-family: "Roboto Mono";
                            font-weight: 600;
                            font-size: 1.8vh;
                            padding: 3.89vw 6.944vw;
                            z-index: 2;
                            border-radius: 1.5vh;
                            background-color: transparent;
                            background-size: 135%;
                            transition: .3s ease-out;
                        }
                    }
                }
            }
        }

        &.dark{
            background-color: $darkBgColorTransl;

            .header_drawer_bottom{
                &_menu{
                    nav{
                        a{
                            color: white;
                
                            &.active,
                            &:hover{
                                color: transparent;
                                background-image: $darkLinearGradientDiagonal;
                                filter: $darkGlowDropShadow;
                            }
                        }
                    }
            
                    &_resume{
                        background-image: $darkLinearGradientDiagonal;
    
                        &:active{
                            filter: $darkGlowDropShadow;
                        }
    
                        div{
                            background-color: $darkBgColor;
    
                            a{
                                color: white;
    
                                &:active{
                                    .header_drawer_bottom_menu_resume{
                                        filter: $darkGlowDropShadow;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        &.light{
            background-color: $lightBgColorTransl;

            .header_drawer_bottom{
                &_menu{
                    nav{
                        a{
                            color: $lightFontColor;
                
                            &.active,
                            &:hover{
                                color: transparent;
                                background-image: $lightLinearGradientDiagonal;
                                filter: $lightGlowDropShadow;
                            }
                        }
                    }
            
                    &_resume{
                        background-image: $lightLinearGradientDiagonal;
    
                        &:active{
                            filter: $lightGlowDropShadow;
                        }
    
                        div{
                            background-color: $lightBgColor;
    
                            a{
                                color: $lightFontColor;
    
                                &:active{
                                    .header_drawer_bottom_menu_resume{
                                        filter: $lightGlowDropShadow;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}