.intro{
    height: calc(100vh - 25.7vh);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    scroll-snap-align: start;
                
    @media screen and (max-width: $mobileMax) {
        width: calc(100vw - (30px * 2));
        padding: 25.7vh 30px 0;
    }
    @media screen and (min-width: $tabletMin) and (max-width: $tabletMax) {
        width: calc(100vw - (50px * 2));
        padding: 25.7vh 50px 0;
    }
    @media screen and (min-width: $desktopMin) {
        height: calc(100vh - 35.27vh);
        width: 100vw;
        padding: 35.27vh 0 0 0;
    }

    label{
        line-height: 100%;
        font-weight: normal;
        width: 100%;
    
        @media screen and (max-width: $mobileMax) {
            font-size: 23px;
            margin-bottom: 10px;
        }
        @media screen and (min-width: $tabletMin) and (max-width: $tabletMax) {
            font-size: 30px;
            margin-bottom: 15px;
        }
        @media screen and (min-width: $desktopMin) {
            font-size: 2.96vh;
            margin-bottom: 1.25vh;
            width: max-content;
            margin-left: 19.53125vw;
        }
    }

    &_name{
        position: relative;
        font-family: 'Roboto Mono';
        font-weight: 700;
        width: 100%;
        height: max-content;
        line-height: 100%;
        white-space: nowrap;
    
        @media screen and (max-width: $mobileMax) {
            font-size: 40px;
        }
        @media screen and (min-width: $tabletMin) and (max-width: $tabletMax) {
            font-size: 62px;
        }

        span{
            &:nth-of-type(1){
                position: absolute;
                top: 0%;
                background-size: 175%;
                background-clip: text;
                animation: gradient 5s ease-in-out infinite;

                @media screen and (max-width: $mobileMax) {
                    left: 3.5px;
                }
                @media screen and (min-width: $tabletMin) and (max-width: $tabletMax) {
                    left: 5px;
                }
            }
            &:nth-of-type(2){
                position: relative;
                top: 0%;
                left: 0%;
            }
        }
    
        @media screen and (min-width: $desktopMin) {
            font-size: 5.55vh;
            margin-left: 19.53125vw;
            width: max-content;
    
            span{
                width: max-content;

                &:nth-of-type(1){
                    //left: 0.15625vw;
                    left: 0.2vw;
                    //left: 1%;
                }
            }
        }
    }

    h3{
        line-height: 110%;
        font-weight: 500;
        width: 100%;
    
        @media screen and (max-width: $mobileMax) {
            margin: 10px 0 20px;
        }
        @media screen and (min-width: $tabletMin) and (max-width: $tabletMax) {
            margin: 15px 0 30px;
        }
        @media screen and (min-width: $desktopMin) {
            line-height: 110%;
            font-size: 3.7vh;
            margin: 1.25vh 0 0.925vh;
            margin-left: 19.53125vw;
            width: max-content;

            br{
                display: none;
            }
        }
    }

    p{
        font-weight: normal;
        margin-bottom: 20vh;
        width: 100%;

        &:nth-of-type(2){
            display: none;
        }
    
        @media screen and (min-width: $desktopMin) {
            font-size: 2.037vh;
            margin-bottom: 23.148vh;
            margin-left: 19.53125vw;
            width: max-content;

            &:nth-of-type(1){
                display: none;
            }
            &:nth-of-type(2){
                display: block;
            }
        }
    }

    &.dark{
        h3{
            color: $darkFontColor;
        }
    
        .intro_name{
            span{
                &:nth-of-type(1){
                    background-image: $darkLinearGradientDiagonal;
                    color: transparent;
                }
                &:nth-of-type(2){
                    color: white;
                }
            }
        }
    
        h2{
            color: $darkFontColor;
        }
    
        p{
            color: $darkFontColor;
        }
    }

    &.light{
        h3{
            color: $lightFontColor;
        }
    
        .intro_name{
            span{
                &:nth-of-type(1){
                    background-image: $lightLinearGradientDiagonal;
                    color: transparent;
                }
                &:nth-of-type(2){
                    color: $lightFontColor;
                }
            }
        }
    
        h2{
            color: $lightFontColor;
        }
    
        p{
            color: $lightFontColor;
        }
    }
}