.intro{
    height: calc(100vh - 25.7vh);
    width: calc(100vw - (8.33vw * 2));
    padding: 25.7vh 8.33vw 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    scroll-snap-align: start;
    
    @media screen and (min-width: $mobile-max) {
        height: calc(100vh - 35.27vh);
        width: 100vw;
        padding: 35.27vh 0 0 0;
    }

    &_top{
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 1.97vh;

        div{
            max-height: 3.7vh;
            overflow: hidden;
            position: relative;

            h3{
                margin-right: 0 !important;

                &:not(:first-of-type){
                    position: absolute;
                    top: 150%;
                }
            }
        }   
    
        @media screen and (min-width: $mobile-max) {
            margin-bottom: 1.85vh;
            margin-left: 19.53125vw;
        }
    }

    h3{
        line-height: 100%;
        font-weight: normal;
        font-size: 2.5vh;
        //margin-bottom: 1.97vh;
        width: 100%;
        //opacity: 0;

        //animation: onLoadOpacity 1s forwards 0s ease-in-out;
        will-change: opacity;
    
        @media screen and (min-width: $mobile-max) {
            font-size: 3.7vh;
            //margin-bottom: 1.85vh;
            //margin-left: 19.53125vw;
            width: max-content;
        }
    }

    &_name{
        position: relative;
        font-family: 'Roboto Mono';
        font-weight: 700;
        font-size: 5.2vh;
        width: 100%;
        height: max-content;
        line-height: 100%;
        white-space: nowrap;
        //opacity: 0;

        //animation: onLoadOpacity 1s forwards .25s ease-in-out;
        will-change: opacity;

        span{
            &:nth-of-type(1){
                position: absolute;
                top: 0%;
                left: 0.833vw;
                background-size: 175%;
                background-clip: text;
                animation: gradient 5s ease-in-out infinite;
            }
            &:nth-of-type(2){
                position: relative;
                top: 0%;
                left: 0%;
            }
        }
    
        @media screen and (min-width: $mobile-max) {
            font-size: 5.55vh;
            margin-left: 19.53125vw;
            width: max-content;
    
            span{
                width: max-content;

                &:nth-of-type(1){
                    left: 0.15625vw;
                }
            }
        }
    }

    h2{
        line-height: 110%;
        font-weight: 500;
        font-size: 2.6vh;
        margin: 1.97vh 0 2.9vh;
        width: 100%;
        //opacity: 0;

        //animation: onLoadOpacity 1s forwards .5s ease-in-out;
        will-change: opacity;
    
        @media screen and (min-width: $mobile-max) {
            line-height: 110%;
            font-size: 3.7vh;
            margin: 1.85vh 0 0.925vh;
            margin-left: 19.53125vw;
            width: max-content;

            br{
                display: none;
            }
        }
    }

    p{
        font-weight: normal;
        font-size: 2.1vh;
        margin-bottom: 19.7vh;
        width: 100%;
        //opacity: 0;

        //animation: onLoadOpacity 1s forwards .75s ease-in-out;
        will-change: opacity;

        &:nth-of-type(2){
            display: none;
        }
    
        @media screen and (min-width: $mobile-max) {
            font-size: 2.037vh;
            margin-bottom: 23.148vh;
            margin-left: 19.53125vw;
            width: max-content;

            &:nth-of-type(1){
                display: none;
            }
            &:nth-of-type(2){
                display: block;
            }
        }
    }

    &.dark{
        h3{
            color: $darkFontColor;
        }
    
        .intro_name{
            span{
                &:nth-of-type(1){
                    background-image: $darkLinearGradientDiagonal;
                    color: transparent;
                }
                &:nth-of-type(2){
                    color: white;
                }
            }
        }
    
        h2{
            color: $darkFontColor;
        }
    
        p{
            color: $darkFontColor;
        }
    }

    &.light{
        h3{
            color: $lightFontColor;
        }
    
        .intro_name{
            span{
                &:nth-of-type(1){
                    background-image: $lightLinearGradientDiagonal;
                    color: transparent;
                }
                &:nth-of-type(2){
                    color: $lightFontColor;
                }
            }
        }
    
        h2{
            color: $lightFontColor;
        }
    
        p{
            color: $lightFontColor;
        }
    }
}