.projects{
    position: relative;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    z-index: 0;
                
    @media screen and (max-width: $mobileMax) {
        width: calc(100vw - (25px * 2));
        padding: 75px 25px 0;
    }
    @media screen and (min-width: $tabletMin) and (max-width: $tabletMax) {
        width: calc(100vw - (40px * 2));
        padding: 125px 40px 0;
    }
    @media screen and (min-width: $desktopMin) {
        padding: 15vh 0 0 19.53125vw;
        width: 60vw;
        max-width: 60vw;
    }

    &_content{
        display: grid;
        width: 100%;
                
        @media screen and (max-width: $mobileMax) {
            grid-template-columns: repeat(1, 1fr);
        }
        @media screen and (min-width: $tabletMin) and (max-width: $tabletMax) {
            grid-template-columns: repeat(2, 1fr);
            column-gap: 20px;
        }
        @media screen and (min-width: $desktopMin) {
            grid-template-columns: repeat(3, 1fr);
        }

        &_item{
            position: relative;
            border-radius: 1.5vh;
                
            @media screen and (max-width: $mobileMax) {
                padding: 25px 25px;
                margin-bottom: 25px;
            }
            @media screen and (min-width: $tabletMin) and (max-width: $tabletMax) {
                padding: 35px 35px;
                margin-bottom: 35px;
            }

            &::before{
                display: block;
                content: "";

                position: absolute;
                z-index: -1;

                border-radius: 1.5vh;
                transition: all .3s ease-in-out;
                background-size: 200%;
                
                @media screen and (max-width: $mobileMax) {
                    left: -1px;
                    top: -1px;
                    width: calc(100% + 2px);
                    height: calc(100% + 2px);
                }
                @media screen and (min-width: $tabletMin) and (max-width: $tabletMax) {
                    left: -1.5px;
                    top: -1.5px;
                    width: calc(100% + 3px);
                    height: calc(100% + 3px);
                }
            }

            &_top{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                svg{
                    height: auto;
                }
                &_git{
                    transition: .3s ease-in-out;
                }
                &_link{
                    transition: .3s ease-in-out;
                }
                
                @media screen and (max-width: $mobileMax) {
                    margin-bottom: 15px;
    
                    .folderSVG{
                        width: 25px;
                    }
                    &_git{
                        svg{
                            width: 25px;
                        }
                    }
                    &_link{
                        margin-left: 10px;

                        svg{
                            width: 23px;
                        }
                    }
                }
                @media screen and (min-width: $tabletMin) and (max-width: $tabletMax) {
                    margin-bottom: 25px;
    
                    .folderSVG{
                        width: 35px;
                    }
                    &_git{
                        svg{
                            width: 35px;
                        }
                    }
                    &_link{
                        margin-left: 20px;

                        svg{
                            width: 33px;
                        }
                    }
                }
            }

            &_bottom{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;

                &_category{
                    font-family: "Roboto Mono";
                    line-height: 100%;
                
                    @media screen and (max-width: $mobileMax) {
                        font-size: 14px;
                        margin-bottom: 10px;
                    }
                    @media screen and (min-width: $tabletMin) and (max-width: $tabletMax) {
                        font-size: 18px;
                        margin-bottom: 12.5px;
                    }
                }

                &_name{
                    line-height: 100%;
                    font-weight: 600;
                
                    @media screen and (max-width: $mobileMax) {
                        margin-bottom: 15px;
                    }
                    @media screen and (min-width: $tabletMin) and (max-width: $tabletMax) {
                        margin-bottom: 20px;
                    }
                }

                &_description{
                    line-height: 130%;
                    font-weight: 400;
                
                    @media screen and (max-width: $mobileMax) {
                        margin-bottom: 15px;
                    }
                    @media screen and (min-width: $tabletMin) and (max-width: $tabletMax) {
                        margin-bottom: 20px;
                    }
                }

                &_technologies{
                    font-family: "Roboto Mono";
                    line-height: 130%;
                
                    @media screen and (max-width: $mobileMax) {
                        font-size: 14px;
                    }
                    @media screen and (min-width: $tabletMin) and (max-width: $tabletMax) {
                        font-size: 18px;
                    }
                }
            }
    
            @media screen and (min-width: $desktopMin) {
                padding: 2.31vh 1.3vw;
                margin: 0 0.78125vw 3.28vh;
                border-radius: 2.5vh;

                &::before{
                    border-radius: 2.5vh;

                    left: -2px;
                    top: -2px;
                    width: calc(100% + 4px);
                    height: calc(100% + 4px);
                }

                &_top{
                    margin-bottom: 1.97vh;
    
                    .folderSVG{
                        height: 3.7vh;
                    }
                    &_git{
                        svg{
                            height: 2.77vh;
                            width: auto;
                        }
                    }
                    &_link{
                        margin-left: 0.78125vw;
                        
                        svg{
                            height: 2.77vh;
                            width: auto;
                        }
                    }
                }

                &_bottom{
                    &_category{
                        font-size: 1.57vh;
                        margin-bottom: 1.38vh;
                    }
    
                    &_name{
                        font-size: 2.77vh;
                        margin-bottom: 1.38vh;
                    }
    
                    &_description{
                        margin-bottom: 2.31vh;
                    }
    
                    &_technologies{
                        font-size: 1.38vh;
                    }
                }
            }
        }
    }

    &_soon{
        width: 100%;
        text-align: center;
        font-weight: 600;
        font-size: 1.84vh;
    
        @media screen and (min-width: $desktopMin) {
            font-size: 1.57vh;
            margin-top: 1.38vh;
        }
    }

    &.dark{
        .projects_content{
            &_item{
                background-color: $darkBgColor;

                &::before{
                    background-image: $darkLinearGradientDiagonal;
                    filter: $darkGlowDropShadow;
                }

                &:hover{
                    &::before{
                        filter: none;
                    }
                }
                
                &_top{
                    .folderSVG{
                        fill: url(#folder-gradient-dark);
                    }
                    &_git,
                    &_link{
                        fill: $darkFontColor;

                        &:hover{
                            fill: $darkGradientColorOrange;
                        }
                    }
                }
            }
        }
    }

    &.light{
        .projects_content{
            &_item{
                background-color: $lightBgColor;

                &::before{
                    background-color: $lightGradientColorPurple;
                    filter: $lightGlowDropShadow;
                }

                &:hover{
                    &::before{
                        filter: none;
                    }
                }
                
                &_top{
                    .folderSVG{
                        fill: url(#folder-gradient-light);
                    }
                    &_git,
                    &_link{
                        fill: $lightFontColor;

                        &:hover{
                            fill: $lightGradientColorPurple;
                        }
                    }
                }
            }
        }
    }
}