.socials_section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @media screen and (min-width: $mobile-max) {
        z-index: 5;
    }

    span{
        height: 19.73vh;
        width: 0.5vw;
        border-radius: 1.5vh;
        display: block;
        background-size: 175%;

        &:nth-of-type(1){
            margin-bottom: 1.97vh;
        }
        &:nth-of-type(2){
            margin-top: 1.97vh;
        }

        @media screen and (min-width: $mobile-max) {
            //height: 13.8vh;
            height: 15vh;
            width: 0.1vw;
            border-radius: 1.5vh;
            display: block;
            background-size: 175%;
    
            &:nth-of-type(1){
                margin-bottom: 1.416vh;
            }
            &:nth-of-type(2){
                margin-top: 1.416vh;
            }
        }
    }

    &_menu{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
        a{
            &:not(:last-of-type){
                margin-bottom: 1.05vh;
            }
            &:nth-of-type(1){
                svg{
                    width: 6.30278vw;
                    height: 4.41389vw;
                }
            }
            &:nth-of-type(2){
                svg{
                    width: 7.29167vw;
                    height: 6.7056vw;
                }
            }
            &:nth-of-type(3){
                svg{
                    width: 6vw;
                    height: 5.35vw;
                }
            }
        }

        @media screen and (min-width: $mobile-max) {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            
            a{
                svg{
                    transition: .3s ease-in-out;

                    &:hover{
                        filter: drop-shadow(0 0 0.6944vh rgba(255, 162, 0, .5));
                    }
                }

                &:not(:last-of-type){
                    margin-bottom: 0.972vh;
                }
                &:nth-of-type(1){
                    svg{
                        width: 1.33802083vw;
                        height: 1.679629vh;
                    }
                }
                &:nth-of-type(2){
                    svg{
                        width: 1.47135416vw;
                        height: 2.416vh;
                    }
                }
                &:nth-of-type(3){
                    svg{
                        width: 1.28125vw;
                        height: 2.05vh;
                    }
                }
            }
        }
    }

    &.dark{
        span{
            filter: $darkGlowDropShadow;
    
            &:nth-of-type(1){
                background-image: $darkLinearGradientStraightOpposite;
            }
            &:nth-of-type(2){
                background-image: $darkLinearGradientStraight;
            }
        }
    
        .socials_section_menu{
            a{
                svg{
                    fill: white;
                }
            }

            @media screen and (min-width: $mobile-max) {
                a{
                    svg{
                        &:hover{
                            filter: $darkGlowDropShadow;
                        }
                    }
                }
            }
        }
    }

    &.light{
        span{
            filter: $lightGlowDropShadow;
    
            &:nth-of-type(1){
                background-image: $lightLinearGradientStraightOpposite;
            }
            &:nth-of-type(2){
                background-image: $lightLinearGradientStraight;
            }
        }
    
        .socials_section_menu{
            a{
                svg{
                    fill: $lightFontColor;
                }
            }

            @media screen and (min-width: $mobile-max) {
                a{
                    svg{
                        &:hover{
                            filter: $lightGlowDropShadow;
                        }
                    }
                }
            }
        }
    }
}