.socials_section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @media screen and (min-width: $desktopMin) {
        z-index: 5;
    }

    span{
        border-radius: 1.5vh;
        display: block;
        background-size: 175%;

        &:nth-of-type(1){
            @media screen and (max-width: $mobileMax) {
                margin-bottom: 15px;
            }
            @media screen and (min-width: $tabletMin) and (max-width: $tabletMax) {
                margin-bottom: 20px;
            }
        }
        &:nth-of-type(2){
            @media screen and (max-width: $mobileMax) {
                margin-top: 15px;
            }
            @media screen and (min-width: $tabletMin) and (max-width: $tabletMax) {
                margin-top: 20px;
            }
        }

        @media screen and (max-width: $mobileMax) {
            height: 150px;
            width: 2px;
        }
        @media screen and (min-width: $tabletMin) and (max-width: $tabletMax) {
            height: 250px;
            width: 2px;
        }
        @media screen and (min-width: $desktopMin) {
            //height: 13.8vh;
            height: 15vh;
            width: 0.1vw;
            border-radius: 1.5vh;
            display: block;
            background-size: 175%;
    
            &:nth-of-type(1){
                margin-bottom: 1.416vh;
            }
            &:nth-of-type(2){
                margin-top: 1.416vh;
            }
        }
    }

    &_menu{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
        a{
            svg{
                height: auto;
            }

            @media screen and (max-width: $mobileMax) {
                &:not(:last-of-type){
                    margin-bottom: 7.5px;
                }
                &:nth-of-type(1){
                    svg{
                        width: 22.5px;
                    }
                }
                &:nth-of-type(2){
                    svg{
                        width: 27px;
                    }
                }
                &:nth-of-type(3){
                    svg{
                        width: 22px;
                    }
                }
            }
            @media screen and (min-width: $tabletMin) and (max-width: $tabletMax) {
                &:not(:last-of-type){
                    margin-bottom: 7.5px;
                }
                &:nth-of-type(1){
                    svg{
                        width: 32.5px;
                    }
                }
                &:nth-of-type(2){
                    svg{
                        width: 37px;
                    }
                }
                &:nth-of-type(3){
                    svg{
                        width: 32px;
                    }
                }
            }
        }

        @media screen and (min-width: $desktopMin) {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            
            a{
                svg{
                    transition: .3s ease-in-out;
                    backface-visibility: hidden;
                    -webkit-font-smoothing: subpixel-antialiased;
                }

                &:not(:last-of-type){
                    margin-bottom: 0.972vh;
                }
                &:nth-of-type(1){
                    svg{
                        width: 1.33802083vw;
                        height: 1.679629vh;
                    }
                }
                &:nth-of-type(2){
                    svg{
                        width: 1.47135416vw;
                        height: 2.416vh;
                    }
                }
                &:nth-of-type(3){
                    svg{
                        width: 1.28125vw;
                        height: 2.05vh;
                    }
                }
            }
        }
    }

    &.dark{
        span{
            filter: $darkGlowDropShadow;
    
            &:nth-of-type(1){
                background-image: $darkLinearGradientStraightOpposite;
            }
            &:nth-of-type(2){
                background-image: $darkLinearGradientStraight;
            }
        }
    
        .socials_section_menu{
            a{
                svg{
                    fill: white;
                }
            }

            @media screen and (min-width: $desktopMin) {
                a{
                    &:hover{
                        svg{
                            filter: $darkGlowDropShadow;
                        }
                    }
                }
            }
        }
    }

    &.light{
        span{
            filter: $lightGlowDropShadow;
    
            &:nth-of-type(1){
                background-image: $lightLinearGradientStraightOpposite;
            }
            &:nth-of-type(2){
                background-image: $lightLinearGradientStraight;
            }
        }
    
        .socials_section_menu{
            a{
                svg{
                    fill: $lightFontColor;
                }
            }

            @media screen and (min-width: $desktopMin) {
                a{
                    &:hover{
                        svg{
                            filter: $lightGlowDropShadow;
                        }
                    }
                }
            }
        }
    }
}