@import './variables.scss';

@keyframes gradient {
    0%, 100% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
}
@keyframes onLoadOpacity {
    from{
        //transform: scale(5);
        opacity: 0;
    }
    to{
        //transform: scale(1);
        opacity: 1;
    }
}         
@keyframes onLoadSlide {
    to{
        transform: translate(0%, -50%);
        opacity: 1;
    }
}

html{
    scroll-behavior: smooth;
    cursor: none;
    font-family: "Archivo";
    font-size: 16px;

    @media screen and (min-width: $desktopMin) {
        font-size: 1.66vh;
    }

    &.noscroll{
        overflow: hidden;
    }

    &.dark{
        .canvas-wrapper{
            background-color: $darkBgColor;
        }
    }

    &.light{
        .canvas-wrapper{
            background-color: $lightBgColor;
        }
    }
    
    @media screen and (min-width: $desktopMin) {
        ::-webkit-scrollbar{
            width: 0.520833vw;
        }
        ::-webkit-scrollbar-thumb {
            border-radius: 2.5vh;
        }

        &.dark{
            ::-webkit-scrollbar-track {
                background: $darkBgColor;
            }
            ::-webkit-scrollbar-thumb {
                background-image: $darkLinearGradientDiagonal;
            }
        }
    
        &.light{
            ::-webkit-scrollbar-track {
                background: $lightBgColor;
            }
            ::-webkit-scrollbar-thumb {
                background-image: $lightLinearGradientDiagonal;
            }
        }
    }
}

body{
    margin: 0;
    min-height: 100vh;
    max-width: 100vw;
    overflow-x: hidden;

    @media screen and (max-width: $mobileMax) {
        font-size: 16px;
    }
    @media screen and (min-width: $tabletMin) and (max-width: $tabletMax) {
        font-size: 24px;
    }
    @media screen and (min-width: $desktopMin) {
        font-size: 2.037vh;
    }
}

.App{

    &.dark{
        background-color: $darkBgColor;
        color: $darkFontColor;
    }

    &.light{
        background-color: $lightBgColor;
        color: $lightFontColor;
    }
}

p{
    line-height: 130%;
    margin: 0;
    margin-block: 0;
    font-family: 'Archivo';
}
h1,h2,h3{
    margin: 0;
    font-weight: normal;
}
h1{
    font-family: "Roboto Mono";
    margin: 0;
    margin-block: 0;
    
    @media screen and (max-width: $mobileMax) {
        font-size: 40px;
    }
    @media screen and (min-width: $tabletMin) and (max-width: $tabletMax) {
        font-size: 62px;
    }
    @media screen and (min-width: $desktopMin) {
        font-size: 4.62vh;
    }
}
h2{
    @media screen and (max-width: $mobileMax) {
        font-size: 34px;
    }
    @media screen and (min-width: $tabletMin) and (max-width: $tabletMax) {
        font-size: 40px;
    }
    @media screen and (min-width: $desktopMin) {
        font-size: 3.51vh;
    }
}
h3{
    @media screen and (max-width: $mobileMax) {
        font-size: 23px;
    }
    @media screen and (min-width: $tabletMin) and (max-width: $tabletMax) {
        font-size: 30px;
    }
    @media screen and (min-width: $desktopMin) {
        font-size: 2.96vh;
    }
}
ul{
    padding: 0;
}
li{
    font-family: 'Archivo';
}
a{
    text-decoration: none;
    font-family: "Roboto Mono";
}
button{
    outline: none;
    border: none;
    cursor: none;
    padding: 0;
    font-family: "Archivo";
}
a,button{
    cursor: none;
    text-decoration: none;
    font-weight: 600;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    .socials_section{
        display: none;
    }
    .email_section{
        display: none;
    }
    
    @media screen and (min-width: $desktopMin) {
        .socials_section,
        .email_section{
            top: 50% !important;
            //opacity: 0;
    
            animation: onLoadSlide 1s forwards .5s ease-in-out;
            will-change: transform, opacity;
        }

        .socials_section{
            display: flex;
            position: fixed !important;
            left: 3.125vw !important;
            transform: translate(-500%, -50%);
        }
    
        .email_section{
            display: flex;
            position: fixed !important;
            right: 2.916vw !important;
            transform: translate(500%, -50%);
        }
    }
}

.content_navigator{
    line-height: 100%;
    font-family: 'Archivo';
    font-weight: 500;
    background-size: 175%;
    background-clip: text;
    color: transparent;
    width: max-content;
    align-self: center;
    text-align: center;
    transition: all .3s ease-in-out;
    
    @media screen and (max-width: $mobileMax) {
        font-size: 18px;
    }
    @media screen and (min-width: $tabletMin) and (max-width: $tabletMax) {
        font-size: 24px;
    }
    @media screen and (min-width: $desktopMin) {
        font-size: 1.851vh !important;
    }

    svg{
        height: auto;
        animation: bounce 1.5s infinite ease-in-out;

        @keyframes bounce {
            0%,
            100%{
                transform: translateY(20%);
            }
            50%{
                transform: translateY(0%);
            }
        }
    
        @media screen and (max-width: $mobileMax) {
            margin-top: 15px;
            width: 15px;
        }
        @media screen and (min-width: $tabletMin) and (max-width: $tabletMax) {
            margin-top: 25px;
            width: 25px;
        }
        @media screen and (min-width: $desktopMin) {
            margin-top: 2.3148vh !important;
            width: 1.171875vw !important;
        }
    }

    &.dark{
        background-image: $darkLinearGradientDiagonal;

        &:hover{
            filter: $darkGlowDropShadow;
        }

        svg{
            &:nth-of-type(1){
                display: inline-block;
            }
            &:nth-of-type(2){
                display: none;
            }
        }
    }

    &.light{
        background-image: $lightLinearGradientDiagonal;

        &:hover{
            filter: $lightGlowDropShadow;
        }

        svg{
            &:nth-of-type(1){
                display: none;
            }
            &:nth-of-type(2){
                display: inline-block;
            }
        }
    }
}

.scrolltotop{
    transition: opacity .3s ease-in-out, visibility .3s ease-in-out, filter .3s ease-in-out;
    cursor: none;
    border-radius: 100%;
    z-index: 5;

    position: fixed;
    transform: rotate(180deg);
                
    @media screen and (max-width: $mobileMax) {
        bottom: 20px;
        right: 20px;
    }
    @media screen and (min-width: $tabletMin) and (max-width: $tabletMax) {
        bottom: 30px;
        right: 30px;
    }

    &.not-scrolled{
        opacity: 0;
        visibility: hidden;
    }

    &.scrolled{
        opacity: 1;
        visibility: visible;
    }
    
    @media screen and (min-width: $desktopMin) {
        bottom: 4.629vh;
        right: 2.604167vw;
    }

    svg{
        transform: rotate(180deg);
        height: auto;
        
        @media screen and (max-width: $mobileMax) {
            width: 85px;
        }
        @media screen and (min-width: $tabletMin) and (max-width: $tabletMax) {
            width: 125px;
        }
    
        @media screen and (max-width: $mobileMax) {
            path{
                &:nth-of-type(1){
                    transform-origin: center center;
                    //transform: rotate(-60deg);
                    animation: rotateSVG 10s linear infinite;
                }
            }
        }

        @keyframes rotateSVG {
            0%{
                transform: rotate(0deg);
            }
            100%{
                transform: rotate(360deg);
            }
        }
    
        @media screen and (min-width: $desktopMin) {
            width: 5.72916vw !important;

            path{
                &:nth-of-type(1){
                    transform-origin: center center;
                    animation: rotateSVG 10s linear infinite;
                }
            }
        }
    }

    &.dark{
        svg{
            path:nth-of-type(1){
                fill: $darkFontColor;
            }
            path:nth-of-type(2){
                fill: url("#gradient-dark") $darkGradientColorOrange;
            }
        }

        &:hover{
            filter: $darkGlowDropShadow;
        }
    }

    &.light{
        svg{
            path:nth-of-type(1){
                fill: $lightFontColor;
            }
            path:nth-of-type(2){
                fill: url("#gradient-light") $lightGradientColorPurple;
            }
        }

        &:hover{
            filter: $lightGlowDropShadow;
        }
    }
}

.theme_toggler{
    position: relative;
    border-radius: 2.5vh;
    border-style: solid;
    transition: .3s ease-in-out;
        
    @media screen and (max-width: $mobileMax) {
        height: 25px;
        width: 50px;
        border-width: 1px;
    }
    @media screen and (min-width: $tabletMin) and (max-width: $tabletMax) {
        height: 35px;
        width: 75px;
        border-width: 1.5px;
    }
    @media screen and (min-width: $desktopMin) {
        height: 1.25vw;
        width: 2.6vw;
        border-width: 0.09vh;
    }

    &_toggle{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        border-style: solid;

        border-radius: 100%;
        transform: translateY(30%);
        transition: .3s ease-in-out;
        background-size: 175%;
        animation: gradient 5s ease-in-out infinite;
        
        @media screen and (max-width: $mobileMax) {
            height: 32.5px;
            width: 32.5px;
            border-width: 1px;
        }
        @media screen and (min-width: $tabletMin) and (max-width: $tabletMax) {
            height: 45px;
            width: 45px;
            border-width: 1.5px;
        }

        svg{
            &:nth-of-type(1){
                @media screen and (max-width: $mobileMax) {
                    height: 15px;
                    width: 15px;
                }
                @media screen and (min-width: $tabletMin) and (max-width: $tabletMax) {
                    height: 25px;
                    width: 25px;
                }
            }
            &:nth-of-type(2){
                @media screen and (max-width: $mobileMax) {
                    height: 16px;
                    width: 12.75px;
                }
                @media screen and (min-width: $tabletMin) and (max-width: $tabletMax) {
                    height: 26px;
                    width: 22.75px; 
                }
            }
        }

        @media screen and (min-width: $desktopMin) {
            height: 1.5625vw;
            width: 1.5625vw;
            border-width: 0.09vh;
            border-style: solid;
            
            transform: translateY(.45vw);

            svg{
                &:nth-of-type(1){
                    //height: 0.78125vw;
                    width: 0.78125vw;
                }
                &:nth-of-type(2){
                    //height: 0.66vw;
                    width: 0.833vw;
                }
            }
        }
    }

    &.dark{
        background-color: $darkBgColor;
        border-color: white;

        &:hover{
            filter: $darkGlowDropShadow;
        }

        .theme_toggler_toggle{
            background-image: $darkLinearGradientDiagonal;
            border-color: white;
            right: -5%;
            
            @media screen and (max-width: $mobileMax) {
                top: -55%;
            }
            @media screen and (min-width: $tabletMin) and (max-width: $tabletMax) {
                top: -50%;
            }
            @media screen and (min-width: $desktopMin) {
                top: -50%;
                right: -25%;
            }

            svg{
                &:nth-of-type(1){
                    display: block;
                }
                &:nth-of-type(2){
                    display: none;
                }
            }
        }
    }

    &.light{
        background-color: $lightBgColor;
        border-color: $lightFontColor;

        &:hover{
            filter: $lightGlowDropShadow;
        }

        .theme_toggler_toggle{
            background-image: $lightLinearGradientDiagonal;
            border-color: $lightFontColor;
            left: -5%;
            
            @media screen and (max-width: $mobileMax) {
                top: -55%;
            }
            @media screen and (min-width: $tabletMin) and (max-width: $tabletMax) {
                top: -50%;
            }
            @media screen and (min-width: $desktopMin) {
                top: -50%;
                left: -25%;
            }

            svg{
                &:nth-of-type(1){
                    display: none;
                }
                &:nth-of-type(2){
                    display: block;
                }
            }
        }
    }
}

.section_heading{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 100%;

    @media screen and (max-width: $mobileMax) {
        margin-left: -15px;
        margin-bottom: 30px;
    }
    @media screen and (min-width: $tabletMin) and (max-width: $tabletMax) {
        margin-left: -25px;
        margin-bottom: 30px;
    }
    @media screen and (min-width: $desktopMin) {
        width: 100%;
        margin: 0 0 2.314vh;
    }

    h1{
        position: relative;
        font-family: 'Roboto Mono';
        font-weight: 700;
        width: max-content;
        height: max-content;
        background-clip: text;

        span{
            position: absolute;
            top: 0%;

            @media screen and (max-width: $mobileMax) {
                left: -3.5px;
            }
            @media screen and (min-width: $tabletMin) and (max-width: $tabletMax) {
                left: -5px;
            }
            @media screen and (min-width: $desktopMin) {
                width: max-content;
                left: -0.2vw;
            }
        }
    }

    div{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin-left: 2.77vw;

        @media screen and (max-width: $tabletMax) {
            flex-grow: 1;
        }
        @media screen and (min-width: $desktopMin) {
            width: 40%;
            margin-left: 1.5625vw;
        }

        span{
            height: 0.25vh;
            width: 100%;
            display: block;
            border-radius: 1.5vh;
            background-image: $lightLinearGradientDiagonal;
            background-size: 175%;
            opacity: 40%;

            @media screen and (min-width: $desktopMin) {
                height: 0.25vh;
                width: 100%;
                display: block;
            }
        }
    }

    &.dark{
        h1{
            background-image: $darkLinearGradientDiagonal;
            color: transparent;
    
            span{
                color: white;
            }
        }

        div{
            span{
                background-image: $darkLinearGradientDiagonal;
            }
        }
    }

    &.light{
        h1{
            background-image: $lightLinearGradientDiagonal;
            color: transparent;
    
            span{
                color: $lightFontColor;
            }
        }

        div{
            span{
                background-image: $lightLinearGradientDiagonal;
            }
        }
    }
}

.canvas-wrapper{
    //display: none;
    display: block;
    z-index: -1;
    position: fixed;
    top: 0%;
    left: 0%;
    height: 100vh;
    width: 100vw;

    &.dark{
        background-color: $darkBgColor;
    }
    &.light{
        background-color: $lightBgColor;
    }

    canvas{
        height: 100%;
        width: 100%;
        opacity: 1;
        transition: opacity .5s ease-in-out;
    }
}

.resume_button_wrapper{
    transition: .3s ease-in-out;

    .resume_button{
        position: relative;
        border-radius: 1.5vh;
        line-height: 100%;
        text-decoration: none;
        font-family: "Roboto Mono";
        font-weight: 600;
        transition: .3s ease-in-out;
        
        @media screen and (max-width: $mobileMax) {
            padding: 11px 20px 12.5px;
            font-size: 14px;
        }
        @media screen and (min-width: $tabletMin) and (max-width: $tabletMax) {
            padding: 16px 30px 18.5px;
            font-size: 20px;
        }
        @media screen and (min-width: $desktopMin) {
            display: block;
            font-size: 1.481vh;
            padding: 1.4vh 1.25vw;
        }

        span{
            transition: .3s ease-in-out;
        }

        &:hover,
        &:active{
            span{
                background-clip: text;
                animation: gradient 5s ease-in-out infinite;
                background-size: 135%;
            }
        }

        &::before{
            position: absolute;

            display: block;
            content: "";
            background-size: 175%;
            border-radius: 1.5vh;
            animation: gradient 5s ease-in-out infinite;
            transition: .3s ease-in-out;
            z-index: -1;

            @media screen and (max-width: $mobileMax) {
                left: -1px;
                top: -1px;
                width: calc(100% + 2px);
                height: calc(100% + 2px);
            }
            @media screen and (min-width: $tabletMin) and (max-width: $tabletMax) {
                left: -1.5px;
                top: -1.5px;
                width: calc(100% + 3px);
                height: calc(100% + 3px);
            }
            @media screen and (min-width: $desktopMin) {
                left: -.125vh;
                top: -.125vh;
                width: calc(100% + .25vh);
                height: calc(100% + .25vh);
            }
        }
    }

    &.header_desktop{
        margin-right: 2.604167vw;

        @media screen and (max-width: $tabletMax) {
            display: none;
        }
    }
    &.drawer{
        
    }

    &.dark{
        .resume_button{
            background-color: $darkBgColor;

            span{
                color: $darkFontColor;
            }

            &:hover,
            &:active{
                span{
                    background-image: $darkLinearGradientDiagonal;
                    color: transparent;
                }

                &::before{
                    filter: $darkGlowDropShadowNone;
                }
            }

            &::before{
                background-image: $darkLinearGradientDiagonal;
                filter: $darkGlowDropShadowOffset;
            }
        }
    }

    &.light{
        .resume_button{
            background-color: $lightBgColor;

            span{
                color: $lightFontColor;
            }

            &:hover,
            &:active{
                span{
                    background-image: $lightLinearGradientDiagonal;
                    color: transparent;
                }

                &::before{
                    filter: $lightGlowDropShadowNone;
                }
            }

            &::before{
                background-image: $lightLinearGradientDiagonal;
                filter: $lightGlowDropShadowOffset;
            }
        }
    }
}