@import './variables.scss';

//Fonts
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;500;600;700&family=Roboto+Mono:wght@400;500;600;700&display=swap');

@keyframes gradient {
    0%, 100% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
}

html{
    scroll-behavior: smooth;
    cursor: none;
    
    @media screen and (min-width: $mobile-max) {
        //scroll-snap-type: y proximity;
    }

    &.noscroll{
        overflow: hidden;
    }
    
    @media screen and (min-width: $mobile-max) {
        ::-webkit-scrollbar{
            width: 0.520833vw;
        }
        ::-webkit-scrollbar-thumb {
            border-radius: 2.5vh;
        }

        &.dark{
            ::-webkit-scrollbar-track {
                background: $darkBgColor;
            }
            ::-webkit-scrollbar-thumb {
                background-image: $darkLinearGradientDiagonal;
            }
        }
    
        &.light{
            ::-webkit-scrollbar-track {
                background: $lightBgColor;
            }
            ::-webkit-scrollbar-thumb {
                background-image: $lightLinearGradientDiagonal;
            }
        }
    }
}

body{
    margin: 0;
    min-height: 100vh;
    max-width: 100vw;
    overflow-x: hidden;
}

.App{
    &.dark{
        color: $darkFontColor;
        //background-color: $darkBgColor;
    }

    &.light{
        color: $lightFontColor;
        //background-color: $lightBgColor;
    }
}

p{
    line-height: 130%;
    
    @media screen and (min-width: $mobile-max) {
        line-height: 130%;
    }
}

p,
h1,
h2,
h3,
h4{
    margin: 0;
    margin-block: 0;
    font-family: 'Archivo';
}

ul{
    padding: 0;
}

li{
    font-family: 'Archivo';
}

a{
    text-decoration: none;
}

button{
    outline: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    .socials_section{
        display: none;
    }
    .email_section{
        display: none;
    }
    
    @media screen and (min-width: $mobile-max) {
        .socials_section,
        .email_section{
            top: 50% !important;
            transform: translateY(-50%) !important;
        }

        .socials_section{
            display: flex;
            position: fixed !important;
            left: 3.125vw !important;
        }
    
        .email_section{
            display: flex;
            position: fixed !important;
            right: 2.916vw !important;
        }
    }
}

.content_navigator{
    line-height: 100%;
    font-family: 'Archivo';
    font-weight: 500;
    font-size: 2.1vh;
    background-size: 175%;
    animation: gradient 5s ease-in-out infinite;
    background-clip: text;
    color: transparent;
    width: max-content;
    align-self: center;
    text-align: center;
    transition: .3s ease-in-out;
    
    @media screen and (min-width: $mobile-max) {
        font-size: 1.851vh !important;
    }

    svg{
        margin-top: 1.9vh;
        width: 4vw;
        height: auto;
        animation: bounce 1s infinite ease-in-out;

        @keyframes bounce {
            0%{
                transform: translateY(25%);
            }
            50%{
                transform: translateY(0%);
            }
            100%{
                transform: translateY(25%);
            }
        }
    
        @media screen and (min-width: $mobile-max) {
            margin-top: 2.3148vh !important;
            width: 1.171875vw !important;
        }
    }

    &.dark{
        background-image: $darkLinearGradientDiagonal;

        &:hover{
            filter: $darkGlowDropShadow;
        }

        svg{
            &:nth-of-type(1){
                display: inline-block;
            }
            &:nth-of-type(2){
                display: none;
            }
        }
    }

    &.light{
        background-image: $lightLinearGradientDiagonal;

        &:hover{
            filter: $lightGlowDropShadow;
        }

        svg{
            &:nth-of-type(1){
                display: none;
            }
            &:nth-of-type(2){
                display: inline-block;
            }
        }
    }
}

.scrolltotop{
    transition: opacity .3s ease-in-out,visibility .3s ease-in-out;
    cursor: pointer;
    border-radius: 100%;
    z-index: 5;

    position: fixed;
    bottom: 3.94vh;
    right: 8.33vw;
    transform: rotate(180deg);

    &.not-scrolled{
        opacity: 0;
        visibility: hidden;
    }

    &.scrolled{
        opacity: 1;
        visibility: visible;
    }
    
    @media screen and (min-width: $mobile-max) {
        bottom: 4.629vh;
        right: 2.604167vw;
    }

    svg{
        transform: rotate(180deg);
        width: 22.5vw;
        height: auto;

        path{
            &:nth-of-type(1){
                transform-origin: center center;
                animation: rotateSVG 10s linear infinite;
            }

            &:nth-of-type(2){
            }
        }

        @keyframes rotateSVG {
            0%{
                transform: rotate(0deg);
            }
            100%{
                transform: rotate(360deg);
            }
        }
    
        @media screen and (min-width: $mobile-max) {
            width: 5.72916vw !important;
        }
    }

    &.dark{
        svg{
            path:nth-of-type(1){
                fill: $darkFontColor;
            }
            path:nth-of-type(2){
                fill: url("#gradient-dark") $darkGradientColorOrange;
            }
        }
    }

    &.light{
        svg{
            path:nth-of-type(1){
                fill: $lightFontColor;
            }
            path:nth-of-type(2){
                fill: url("#gradient-light") $lightGradientColorPurple;
            }
        }
    }
}

.theme_toggler{
    position: relative;
    height: 3.15vh;
    width: 6.57vh;
    border-width: 0.13vh;
    border-radius: 2.5vh;
    border-style: solid;
    transition: .3s ease-in-out;

    @media screen and (min-width: $mobile-max) {
        height: 1.25vw;
        width: 2.6vw;
        border-width: 0.09vh;
    }

    &_toggle{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        border-width: 0.13vh;
        border-style: solid;

        height: 3.94vh;
        width: 3.94vh;
        border-radius: 100%;
        transform: translateY(30%);
        transition: .3s ease-in-out;
        background-size: 175%;
        animation: gradient 5s ease-in-out infinite;

        svg{
            &:nth-of-type(1){
                height: 1.97vh;
                width: 1.97vh;
            }
            &:nth-of-type(2){
                height: 2.1vh;
                width: 1.67vh;
            }
        }

        @media screen and (min-width: $mobile-max) {
            height: 1.5625vw;
            width: 1.5625vw;
            border-width: 0.09vh;
            border-style: solid;
            
            transform: translateY(.45vw);

            svg{
                &:nth-of-type(1){
                    //height: 0.78125vw;
                    width: 0.78125vw;
                }
                &:nth-of-type(2){
                    //height: 0.66vw;
                    width: 0.833vw;
                }
            }
        }
    }

    &.dark{
        background-color: $darkBgColor;
        border-color: white;

        &:hover{
            filter: $darkGlowDropShadow;
        }

        .theme_toggler_toggle{
            background-image: $darkLinearGradientDiagonal;
            border-color: white;
            top: -50%;
            right: -5%;

            @media screen and (min-width: $mobile-max) {
                top: -50%;
                right: -25%;
            }

            svg{
                &:nth-of-type(1){
                    display: block;
                }
                &:nth-of-type(2){
                    display: none;
                }
            }
        }
    }

    &.light{
        background-color: $lightBgColor;
        border-color: $lightFontColor;

        &:hover{
            filter: $lightGlowDropShadow;
        }

        .theme_toggler_toggle{
            background-image: $lightLinearGradientDiagonal;
            border-color: $lightFontColor;
            top: -50%;
            left: -5%;

            @media screen and (min-width: $mobile-max) {
                top: -50%;
                left: -25%;
            }

            svg{
                &:nth-of-type(1){
                    display: none;
                }
                &:nth-of-type(2){
                    display: block;
                }
            }
        }
    }
}

.section_heading{
    margin-bottom: 3.94vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 107.5%;
    margin-left: -5%;

    @media screen and (min-width: $mobile-max) {
        width: 100%;
        margin: 0 0 2.314vh;
    }

    h1{
        position: relative;
        font-family: 'Roboto Mono';
        font-weight: 700;
        font-size: 4.736vh;
        width: max-content;
        height: max-content;
        //line-height: 100%;
        background-size: 175%;
        background-clip: text;
        animation: gradient 5s ease-in-out infinite;

        span{
            position: absolute;
            top: 0%;
            left: -0.833vw;
        }
    
        @media screen and (min-width: $mobile-max) {
            font-size: 4.629vh;
            //margin-left: 19.53125vw;
    
            span{
                width: max-content;
                left: -0.15625vw;
            }
        }
    }

    div{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        margin-left: 2.77vw;

        @media screen and (min-width: $mobile-max) {
            width: 40%;
            margin-left: 1.5625vw;
        }

        span{
            height: 0.25vh;
            width: 100%;
            display: block;
            border-radius: 1.5vh;
            background-image: $lightLinearGradientDiagonal;
            background-size: 175%;
            animation: gradient 5s ease-in-out infinite;
            opacity: 40%;

            @media screen and (min-width: $mobile-max) {
                height: 0.25vh;
                width: 100%;
                display: block;
            }
        }
    }

    &.dark{
        h1{
            background-image: $darkLinearGradientDiagonal;
            color: transparent;
    
            span{
                color: white;
            }
        }

        div{
            span{
                background-image: $darkLinearGradientDiagonal;
            }
        }
    }

    &.light{
        h1{
            background-image: $lightLinearGradientDiagonal;
            color: transparent;
    
            span{
                color: $lightFontColor;
            }
        }

        div{
            span{
                background-image: $lightLinearGradientDiagonal;
            }
        }
    }
}

#cursor-follower{
    position: absolute;
    transform: translate(-100%);
    height: 1.75vw;
    width: 1.75vw;
    border-radius: 100%;

    background: white;
    border-radius: 50%;
    mix-blend-mode: difference;
    z-index: 1001;
    pointer-events: none;
}

.canvas-wrapper{
    z-index: -1;
    position: absolute;
    top: 0%;
    left: 0%;

    &.dark{
        background-color: $darkBgColor;
    }
    &.light{
        background-color: $lightBgColor;
    }

    canvas{
        height: 100%;
        width: 100%;
    }
}