////THEME PROPERTIES
//Media Query Sizes
$mobileMin: 0px;
$mobileMax: 768px;
$tabletMin: 769px;
$tabletMax: 1023px;
$desktopMin: 1024px;
$desktopMax: 1920px;
// $mobile: 480px;
// $mobile-max: 1023px;
// $tablet: 768px;
// $laptop: 1024px;
// $desktop: 1920px;

////THEME PROPERTIES
//Dark Theme
$darkBgColor: #0c0c0a;
$darkBgColorHover: #1d1d19;
$darkBgColorTransl: rgba(12, 12, 10, 0.9);
$darkFontColor: rgba(255, 248, 236, 0.9);
$darkFontColorTransl: rgba(255, 248, 236, 0.1);
$darkLinearGradientDiagonal: linear-gradient(45deg, rgba(255,0,128,1) 0%, rgba(255,128,59,1) 50%, rgba(255,238,0,1) 100%);
$darkLinearGradientDiagonalOpposite: linear-gradient(135deg, rgba(255,0,128,1) 0%, rgba(255,128,59,1) 50%, rgba(255,238,0,1) 100%);
$darkLinearGradientStraight: linear-gradient(0deg, rgba(255,0,128,1) 0%, rgba(255,128,59,1) 50%, rgba(255,238,0,1) 100%);
$darkLinearGradientStraightOpposite: linear-gradient(180deg, rgba(255,0,128,1) 0%, rgba(255,128,59,1) 50%, rgba(255,238,0,1) 100%);
$darkScrollBarBg: linear-gradient(0deg, rgba(255,0,128,0.85) 0%, rgba(255,128,59,0.85) 50%, rgba(255,238,0,0.85) 100%);
$darkGlowDropShadow: drop-shadow(0 0 5px  rgba(255, 162, 0, .5));
$darkGlowDropShadowOffset: drop-shadow(3px 3px 0.5vh  rgba(255, 162, 0, .5));
$darkGlowDropShadowNone: drop-shadow(0 0 0 rgba(255, 162, 0, .5));
$darkGradientColorPink: rgba(255,0,128,1);
$darkGradientColorOrange: rgba(255,128,59,1);
$darkGradientColorYellow: rgba(255,238,0,1);

//Ligth Theme
$lightBgColor: white;
$lightBgColorTransl: rgba(255, 255, 255, 0.75);
$lightFontColor: rgb(31, 0, 58);
$lightFontColorTransl: rgba(31, 0, 58, 0.1);
$lightLinearGradientDiagonal: linear-gradient(45deg, #FF0080 0%, #8800FF 50%, #00D3FF 100%);
$lightLinearGradientDiagonalOpposite: linear-gradient(135deg, #FF0080 0%, #8800FF 50%, #00D3FF 100%);
$lightLinearGradientStraight: linear-gradient(0deg, #FF0080 0%, #8800FF 50%, #00D3FF 100%);
$lightLinearGradientStraightOpposite: linear-gradient(180deg, #FF0080 0%, #8800FF 50%, #00D3FF 100%);
$lightScrollBarBg: linear-gradient(0deg, rgba(255,0,128,.85) 0%, rgba(136, 0, 255, .85) 50%, rgba(0, 211, 255, .85) 100%);
$lightGlowDropShadow: drop-shadow(0 0 5px rgba(136, 0, 255, 0.75));
$lightGlowDropShadowOffset: drop-shadow(3px 3px 0.5vh  rgba(136, 0, 255, 0.75));
$lightGlowDropShadowNone: drop-shadow(0 0 0 rgba(136, 0, 255, 0.5));
$lightGradientColorPink: #FF0080;
$lightGradientColorPurple: #8800FF;
$lightGradientColorBlue: #00D3FF;