.experience {
  position: relative;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  max-width: 83.34vw;
  padding: 7.89vh 8.33vw 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow-x: hidden;
}
@media screen and (min-width: 1023px) {
  .experience {
    padding: 15vh 0 0 0;
    margin-left: 19.53125vw;
    width: 60vw;
    max-width: 60vw;
    flex-wrap: nowrap;
  }
}
.experience_content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  font-weight: normal;
}
@media screen and (min-width: 1023px) {
  .experience_content {
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
  }
}
.experience_content button,
.experience_content h2 {
  line-height: 100%;
  font-size: 2.63vh;
  font-weight: 600;
  font-family: "Archivo";
}
@media screen and (min-width: 1023px) {
  .experience_content button,
.experience_content h2 {
    font-size: 2.407vh;
  }
}
.experience_content span,
.experience_content label {
  line-height: 100%;
  font-family: "Roboto Mono";
  font-size: 1.315vh;
  transition: 0.3s ease-in-out;
  font-weight: normal;
}
@media screen and (min-width: 1023px) {
  .experience_content span,
.experience_content label {
    font-size: 1.38vh;
  }
}
.experience_content_companies {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  width: 100%;
  max-width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  overflow: scroll hidden;
  margin-bottom: 1.315vh;
  scroll-behavior: smooth;
}
.experience_content_companies button {
  padding: 1.315vh;
  position: relative;
  transition: 0.3s ease-in-out;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  white-space: nowrap;
  background: none;
  text-align: start;
  height: 100%;
}
.experience_content_companies button span {
  display: none;
  margin-top: 0.32vh;
}
.experience_content_companies button::before {
  display: block;
  width: 100%;
  height: 0.263vh;
  position: absolute;
  bottom: 2%;
  left: 0%;
  content: "";
}
.experience_content_companies button.active {
  background-size: 175%;
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  -webkit-animation: gradient 5s ease-in-out infinite;
          animation: gradient 5s ease-in-out infinite;
}
.experience_content_companies button.active::before {
  display: block;
  width: 100%;
  height: 0.263vh;
  position: absolute;
  bottom: 2%;
  left: 0%;
  -webkit-animation: gradient 5s ease-in-out infinite;
          animation: gradient 5s ease-in-out infinite;
  content: "";
}
.experience_content_companies button.active span {
  display: block;
}
@media screen and (min-width: 1023px) {
  .experience_content_companies {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 20%;
    max-width: 20%;
    overflow: hidden;
    margin-bottom: 0;
  }
  .experience_content_companies button {
    padding: 0.925vh 0;
    margin-bottom: 0;
    margin-right: 0;
    width: 100%;
    white-space: wrap;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  .experience_content_companies button span {
    margin-top: 0.32vh;
  }
  .experience_content_companies button::before {
    display: block;
    width: 0.10416vw;
    height: 100%;
    position: absolute;
    top: 0%;
    right: 0%;
    bottom: auto;
    left: auto;
    content: "";
  }
  .experience_content_companies button.active::before {
    display: block;
    width: 0.10416vw;
    height: 100%;
    position: absolute;
    top: 0%;
    right: 0%;
    bottom: auto;
    left: auto;
    -webkit-animation: gradient 5s ease-in-out infinite;
            animation: gradient 5s ease-in-out infinite;
    content: "";
  }
  .experience_content_companies button.active span {
    display: block;
  }
}
.experience_content_descriptions {
  position: relative;
  width: 100%;
  max-width: 100%;
}
.experience_content_descriptions_item {
  width: inherit;
  transition: 0.3s ease-in-out;
  max-height: 75vh;
  overflow: hidden auto;
  display: none;
}
.experience_content_descriptions_item.active {
  display: block;
}
.experience_content_descriptions_item label {
  margin-bottom: 2.63vh;
}
.experience_content_descriptions_item ul {
  padding-left: 4.5vw;
}
.experience_content_descriptions_item ul li {
  font-size: 2.105vh;
}
.experience_content_descriptions_item ul li:not(:last-of-type) {
  margin-bottom: 1.315vh;
}
@media screen and (min-width: 1023px) {
  .experience_content_descriptions {
    width: calc(80% - 1.5625vw);
    max-width: calc(80% - 1.5625vw);
    padding-left: 1.5625vw;
  }
  .experience_content_descriptions_item {
    max-height: none;
    overflow: auto;
    margin-top: 0.925vh;
  }
  .experience_content_descriptions_item label {
    font-weight: normal;
    margin-bottom: 1.851vh;
  }
  .experience_content_descriptions_item ul {
    padding-left: 1vw;
  }
  .experience_content_descriptions_item ul li {
    font-size: 2.037vh;
    line-height: 130%;
  }
  .experience_content_descriptions_item ul li:not(:last-of-type) {
    margin-bottom: 0.925vh;
  }
}
.experience.dark .experience_content_companies {
  border-bottom-color: rgba(255, 248, 236, 0.1);
}
.experience.dark .experience_content_companies button {
  color: rgba(255, 248, 236, 0.9);
}
.experience.dark .experience_content_companies button::before {
  background-color: rgba(255, 248, 236, 0.1);
}
.experience.dark .experience_content_companies button.active {
  color: transparent;
  background-image: linear-gradient(45deg, #ff0080 0%, #ff803b 50%, #ffee00 100%);
}
.experience.dark .experience_content_companies button.active::before {
  background-image: linear-gradient(45deg, #ff0080 0%, #ff803b 50%, #ffee00 100%);
  background-size: 175%;
  filter: drop-shadow(0 0 0.6944vh rgba(255, 162, 0, 0.5));
}
.experience.dark .experience_content_companies button.active span {
  color: rgba(255, 248, 236, 0.9);
}
.experience.dark .experience_content_descriptions_item ul li {
  list-style-image: url(../assets/bullet-point-dark.svg);
}
.experience.light .experience_content_companies {
  border-bottom-color: rgba(31, 0, 58, 0.1);
}
.experience.light .experience_content_companies button {
  color: #1f003a;
}
.experience.light .experience_content_companies button::before {
  background-color: rgba(31, 0, 58, 0.1);
}
.experience.light .experience_content_companies button.active {
  color: transparent;
  background-image: linear-gradient(45deg, #FF0080 0%, #8800FF 50%, #00D3FF 100%);
}
.experience.light .experience_content_companies button.active::before {
  background-image: linear-gradient(45deg, #FF0080 0%, #8800FF 50%, #00D3FF 100%);
  background-size: 175%;
  filter: drop-shadow(0 0 0.6944vh rgba(136, 0, 255, 0.5));
}
.experience.light .experience_content_companies button.active span {
  color: #1f003a;
}
.experience.light .experience_content_descriptions_item ul li {
  list-style-image: url(../assets/bullet-point-light.svg);
}/*# sourceMappingURL=experience.css.map */