@import './variables.scss';

//Fonts
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;500;600;700&family=Roboto+Mono:wght@400;500;600;700&display=swap');

@keyframes gradient {
    0%, 100% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
}

html{
    scroll-behavior: smooth;
    
    @media screen and (min-width: $mobile-max) {
        scroll-snap-type: y proximity;
    }

    &.noscroll{
        overflow: hidden;
    }
}

body{
    margin: 0;
    min-height: 100vh;
    overflow-x: hidden;
}

.App{
    &.dark{
        background-color: $darkBgColor;
    }

    &.light{
        background-color: $lightBgColor;
    }
}

p{
    line-height: 130%;
    
    @media screen and (min-width: $mobile-max) {
        line-height: 130%;
    }
}

p,
h1,
h2,
h3,
h4{
    margin: 0;
    font-family: 'Archivo';
}

ul{
    padding: 0;
}

li{
    font-family: 'Archivo';
}

a{
    text-decoration: none;
}

button{
    outline: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.content{
    .socials_section{
        display: none;
    }
    .email_section{
        display: none;
    }
    
    @media screen and (min-width: $mobile-max) {
        .socials_section,
        .email_section{
            top: 50% !important;
            transform: translateY(-50%) !important;
        }

        .socials_section{
            display: flex;
            position: fixed !important;
            left: 3.125vw !important;
        }
    
        .email_section{
            display: flex;
            position: fixed !important;
            right: 2.916vw !important;
        }
    }
}

.content_navigator{
    line-height: 100%;
    font-family: 'Archivo';
    font-weight: 500;
    font-size: 2.1vh;
    background-size: 175%;
    animation: gradient 5s ease-in-out infinite;
    background-clip: text;
    color: transparent;
    width: max-content;
    align-self: center;
    text-align: center;
    transition: .3s ease-in-out;
    
    @media screen and (min-width: $mobile-max) {
        font-size: 1.851vh !important;
    }

    svg{
        margin-top: 1.9vh;
        width: 4vw;
        height: auto;
    
        @media screen and (min-width: $mobile-max) {
            margin-top: 2.3148vh !important;
            width: 1.171875vw !important;
        }
    }

    &.dark{
        background-image: $darkLinearGradientDiagonal;

        &:hover{
            filter: $darkGlowDropShadow;
        }

        svg{
            &:nth-of-type(1){
                display: inline-block;
            }
            &:nth-of-type(2){
                display: none;
            }
        }
    }

    &.light{
        background-image: $lightLinearGradientDiagonal;

        &:hover{
            filter: $lightGlowDropShadow;
        }

        svg{
            &:nth-of-type(1){
                display: none;
            }
            &:nth-of-type(2){
                display: inline-block;
            }
        }
    }
}

.scrolltotop{
    transition: .3s ease-in-out;
    cursor: pointer;
    border-radius: 100%;
    z-index: 5;
    height: 13.8vw;
    width: 13.8vw;
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    bottom: 3.94vh;
    right: -100%;
    box-shadow: 0px 2.5px 15px 0px rgba(0,0,0,0.75);

    &.scrolled{
        right: 8.33vw;
    }
    
    @media screen and (min-width: $mobile-max) {
        height: 3.125vw;
        width: 3.125vw;
        bottom: 4.629vh;

        &.scrolled{
            right: 2.604167vw;
        }

        &.dark{
            &:hover{
                filter: $darkGlowDropShadow;
            }
        }
    
        &.light{
            &:hover{
                filter: $lightGlowDropShadow;
            }
        }
    }

    svg{
        transform: rotate(180deg);
        width: 4vw;
        height: auto;
    
        @media screen and (min-width: $mobile-max) {
            width: 1.171875vw !important;
        }
    }

    &.dark{
        background-color: $darkBgColor;

        svg{
            &:nth-of-type(1){
                display: block;
            }
            &:nth-of-type(2){
                display: none;
            }
        }
    }

    &.light{
        background-color: $lightBgColor;

        svg{
            &:nth-of-type(1){
                display: none;
            }
            &:nth-of-type(2){
                display: block;
            }
        }
    }
}

.theme_toggler{
    position: relative;
    height: 3.15vh;
    width: 6.57vh;
    border-width: 0.13vh;
    border-radius: 2.5vh;
    border-style: solid;
    transition: .3s ease-in-out;

    @media screen and (min-width: $mobile-max) {
        height: 1.25vw;
        width: 2.6vw;
        border-width: 0.09vh;
    }

    &_toggle{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        border-width: 0.13vh;
        border-style: solid;

        height: 3.94vh;
        width: 3.94vh;
        border-radius: 100%;
        transform: translateY(30%);
        transition: .3s ease-in-out;
        background-size: 175%;
        animation: gradient 5s ease-in-out infinite;

        svg{
            &:nth-of-type(1){
                height: 1.97vh;
                width: 1.97vh;
            }
            &:nth-of-type(2){
                height: 2.1vh;
                width: 1.67vh;
            }
        }

        @media screen and (min-width: $mobile-max) {
            height: 1.5625vw;
            width: 1.5625vw;
            border-width: 0.09vh;
            border-style: solid;
            
            transform: translateY(.45vw);

            svg{
                &:nth-of-type(1){
                    //height: 0.78125vw;
                    width: 0.78125vw;
                }
                &:nth-of-type(2){
                    //height: 0.66vw;
                    width: 0.833vw;
                }
            }
        }
    }

    &.dark{
        background-color: $darkBgColor;
        border-color: white;

        &:hover{
            filter: $darkGlowDropShadow;
        }

        .theme_toggler_toggle{
            background-image: $darkLinearGradientDiagonal;
            border-color: white;
            top: -50%;
            right: -5%;

            @media screen and (min-width: $mobile-max) {
                top: -50%;
                right: -25%;
            }

            svg{
                &:nth-of-type(1){
                    display: block;
                }
                &:nth-of-type(2){
                    display: none;
                }
            }
        }
    }

    &.light{
        background-color: $lightBgColor;
        border-color: $lightFontColor;

        &:hover{
            filter: $lightGlowDropShadow;
        }

        .theme_toggler_toggle{
            background-image: $lightLinearGradientDiagonal;
            border-color: $lightFontColor;
            top: -50%;
            left: -5%;

            @media screen and (min-width: $mobile-max) {
                top: -50%;
                left: -25%;
            }

            svg{
                &:nth-of-type(1){
                    display: none;
                }
                &:nth-of-type(2){
                    display: block;
                }
            }
        }
    }
}