.socials_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 1023px) {
  .socials_section {
    z-index: 5;
  }
}

.socials_section span {
  height: 19.73vh;
  width: 0.5vw;
  border-radius: 1.5vh;
  display: block;
  background-size: 175%;
}

.socials_section span:nth-of-type(1) {
  margin-bottom: 1.97vh;
}

.socials_section span:nth-of-type(2) {
  margin-top: 1.97vh;
}

@media screen and (min-width: 1023px) {
  .socials_section span {
    height: 15vh;
    width: 0.1vw;
    border-radius: 1.5vh;
    display: block;
    background-size: 175%;
  }
  .socials_section span:nth-of-type(1) {
    margin-bottom: 1.416vh;
  }
  .socials_section span:nth-of-type(2) {
    margin-top: 1.416vh;
  }
}

.socials_section_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.socials_section_menu a:not(:last-of-type) {
  margin-bottom: 1.05vh;
}

.socials_section_menu a:nth-of-type(1) svg {
  width: 6.30278vw;
  height: 4.41389vw;
}

.socials_section_menu a:nth-of-type(2) svg {
  width: 7.29167vw;
  height: 6.7056vw;
}

.socials_section_menu a:nth-of-type(3) svg {
  width: 6vw;
  height: 5.35vw;
}

@media screen and (min-width: 1023px) {
  .socials_section_menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .socials_section_menu a svg {
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }
  .socials_section_menu a svg:hover {
    -webkit-filter: drop-shadow(0 0 0.6944vh rgba(255, 162, 0, 0.5));
            filter: drop-shadow(0 0 0.6944vh rgba(255, 162, 0, 0.5));
  }
  .socials_section_menu a:not(:last-of-type) {
    margin-bottom: 0.972vh;
  }
  .socials_section_menu a:nth-of-type(1) svg {
    width: 1.33802083vw;
    height: 1.679629vh;
  }
  .socials_section_menu a:nth-of-type(2) svg {
    width: 1.47135416vw;
    height: 2.416vh;
  }
  .socials_section_menu a:nth-of-type(3) svg {
    width: 1.28125vw;
    height: 2.05vh;
  }
}

.socials_section.dark span {
  -webkit-filter: drop-shadow(0 0 0.6944vh rgba(255, 162, 0, 0.5));
          filter: drop-shadow(0 0 0.6944vh rgba(255, 162, 0, 0.5));
}

.socials_section.dark span:nth-of-type(1) {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ff0080), color-stop(50%, #ff803b), to(#ffee00));
  background-image: linear-gradient(180deg, #ff0080 0%, #ff803b 50%, #ffee00 100%);
}

.socials_section.dark span:nth-of-type(2) {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ff0080), color-stop(50%, #ff803b), to(#ffee00));
  background-image: linear-gradient(0deg, #ff0080 0%, #ff803b 50%, #ffee00 100%);
}

.socials_section.dark .socials_section_menu a svg {
  fill: white;
}

@media screen and (min-width: 1023px) {
  .socials_section.dark .socials_section_menu a svg:hover {
    -webkit-filter: drop-shadow(0 0 0.6944vh rgba(255, 162, 0, 0.5));
            filter: drop-shadow(0 0 0.6944vh rgba(255, 162, 0, 0.5));
  }
}

.socials_section.light span {
  -webkit-filter: drop-shadow(0 0 0.6944vh rgba(136, 0, 255, 0.5));
          filter: drop-shadow(0 0 0.6944vh rgba(136, 0, 255, 0.5));
}

.socials_section.light span:nth-of-type(1) {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FF0080), color-stop(50%, #8800FF), to(#00D3FF));
  background-image: linear-gradient(180deg, #FF0080 0%, #8800FF 50%, #00D3FF 100%);
}

.socials_section.light span:nth-of-type(2) {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#FF0080), color-stop(50%, #8800FF), to(#00D3FF));
  background-image: linear-gradient(0deg, #FF0080 0%, #8800FF 50%, #00D3FF 100%);
}

.socials_section.light .socials_section_menu a svg {
  fill: #1f003a;
}

@media screen and (min-width: 1023px) {
  .socials_section.light .socials_section_menu a svg:hover {
    -webkit-filter: drop-shadow(0 0 0.6944vh rgba(136, 0, 255, 0.5));
            filter: drop-shadow(0 0 0.6944vh rgba(136, 0, 255, 0.5));
  }
}
/*# sourceMappingURL=socials-section.css.map */