@import './global.scss';
@import './variables.scss';
            
.email_section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &_container{

        span{
            transform: translateX(calc(1.6vh / 2));
            height: 19.73vh;
            width: 0.5vw;
            border-radius: 1.5vh;
            display: block;
            filter: drop-shadow(0 0 2vw rgba(255, 162, 0, .5));
            background-size: 175%;
    
            &:nth-of-type(1){
                background-image: linear-gradient(0deg, rgba(255,238,0,1) 0%, rgba(255,128,59,1) 50%, rgba(255,0,128,1) 100%);
                margin-bottom: 1.97vh;
            }
            &:nth-of-type(2){
                background-image: linear-gradient(180deg, rgba(255,238,0,1) 0%, rgba(255,128,59,1) 50%, rgba(255,0,128,1) 100%);
                margin-top: 1.97vh;
            }
    
            @media screen and (min-width: $mobile-max) {
                height: 6vh;
                width: 0.05vw;
                border-radius: 1.5vh;
                display: block;
                filter: drop-shadow(0 0 2vw rgba(255, 162, 0, .5));
                background-size: 175%;
        
                &:nth-of-type(1){
                    background-image: linear-gradient(0deg, rgba(255,238,0,1) 0%, rgba(255,128,59,1) 50%, rgba(255,0,128,1) 100%);
                    margin-bottom: 1.416vh;
                }
                &:nth-of-type(2){
                    background-image: linear-gradient(180deg, rgba(255,238,0,1) 0%, rgba(255,128,59,1) 50%, rgba(255,0,128,1) 100%);
                    margin-top: 1.416vh;
                }
            }
        }
    
        a{
            cursor: pointer;
            font-family: 'Roboto Mono';
            font-size: 1.6vh;
            position: relative;
            text-decoration: none;
            font-weight: 400;
    
            background-image: linear-gradient(45deg, rgba(255,0,128,1) 0%, rgba(255,128,59,1) 50%, rgba(255,238,0,1) 100%);
            background-size: 175%;
            background-clip: text;
            color: transparent;
            animation: gradient 5s ease-in-out infinite;
            writing-mode: tb-rl;
    
            label{
                cursor: pointer;
                position: absolute;
                left: 0%;
                top: -0.2vh;
                color: white;
                transition: .3s ease-in-out;
    
                &:hover{
                    filter: drop-shadow(0 0 0.6944vh rgba(255, 162, 0, .5));
                }
            }
        }
    }
}