@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@400;500;600;700&family=Roboto+Mono:wght@400;500;600;700&display=swap");
html {
  scroll-behavior: smooth;
}

html.noscroll {
  overflow: hidden;
}

.App {
  min-height: 100vh;
  background-color: #0c0c0a;
  overflow-x: hidden;
}

p,
h1,
h2,
h3,
h4 {
  margin: 0;
  font-family: 'Archivo';
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

.content .socials_section {
  display: none;
}

.content .email_section {
  display: none;
}

@media screen and (min-width: 1023px) {
  .content .socials_section,
  .content .email_section {
    top: 50% !important;
    -webkit-transform: translateY(-50%) !important;
            transform: translateY(-50%) !important;
  }
  .content .socials_section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed !important;
    left: 3.125vw !important;
  }
  .content .email_section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed !important;
    right: 2.916vw !important;
  }
}

.content_navigator {
  line-height: 100%;
  font-family: 'Archivo';
  font-weight: 500;
  font-size: 2.1vh;
  background-image: linear-gradient(45deg, #ff0080 0%, #ff803b 50%, #ffee00 100%);
  background-size: 175%;
  background-clip: text;
  color: transparent;
  -webkit-animation: gradient 5s ease-in-out infinite;
          animation: gradient 5s ease-in-out infinite;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media screen and (min-width: 1023px) {
  .content_navigator {
    font-size: 1.851vh !important;
  }
}

.content_navigator:hover {
  -webkit-filter: drop-shadow(0 0 0.6944vh rgba(255, 162, 0, 0.5));
          filter: drop-shadow(0 0 0.6944vh rgba(255, 162, 0, 0.5));
}

@-webkit-keyframes gradient {
  0%, 100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

@keyframes gradient {
  0%, 100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

.content_navigator svg {
  margin-top: 1.9vh;
  width: 4vw;
  height: auto;
}

@media screen and (min-width: 1023px) {
  .content_navigator svg {
    margin-top: 2.3148vh !important;
    width: 1.171875vw !important;
  }
}

.email_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.email_section_container span {
  -webkit-transform: translateX(calc(1.6vh / 2));
          transform: translateX(calc(1.6vh / 2));
  height: 19.73vh;
  width: 0.5vw;
  border-radius: 1.5vh;
  display: block;
  -webkit-filter: drop-shadow(0 0 2vw rgba(255, 162, 0, 0.5));
          filter: drop-shadow(0 0 2vw rgba(255, 162, 0, 0.5));
  background-size: 175%;
}

.email_section_container span:nth-of-type(1) {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ffee00), color-stop(50%, #ff803b), to(#ff0080));
  background-image: linear-gradient(0deg, #ffee00 0%, #ff803b 50%, #ff0080 100%);
  margin-bottom: 1.97vh;
}

.email_section_container span:nth-of-type(2) {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffee00), color-stop(50%, #ff803b), to(#ff0080));
  background-image: linear-gradient(180deg, #ffee00 0%, #ff803b 50%, #ff0080 100%);
  margin-top: 1.97vh;
}

@media screen and (min-width: 1023px) {
  .email_section_container span {
    height: 6vh;
    width: 0.05vw;
    border-radius: 1.5vh;
    display: block;
    -webkit-filter: drop-shadow(0 0 2vw rgba(255, 162, 0, 0.5));
            filter: drop-shadow(0 0 2vw rgba(255, 162, 0, 0.5));
    background-size: 175%;
  }
  .email_section_container span:nth-of-type(1) {
    background-image: -webkit-gradient(linear, left bottom, left top, from(#ffee00), color-stop(50%, #ff803b), to(#ff0080));
    background-image: linear-gradient(0deg, #ffee00 0%, #ff803b 50%, #ff0080 100%);
    margin-bottom: 1.416vh;
  }
  .email_section_container span:nth-of-type(2) {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffee00), color-stop(50%, #ff803b), to(#ff0080));
    background-image: linear-gradient(180deg, #ffee00 0%, #ff803b 50%, #ff0080 100%);
    margin-top: 1.416vh;
  }
}

.email_section_container a {
  cursor: pointer;
  font-family: 'Roboto Mono';
  font-size: 1.6vh;
  position: relative;
  text-decoration: none;
  font-weight: 400;
  background-image: linear-gradient(45deg, #ff0080 0%, #ff803b 50%, #ffee00 100%);
  background-size: 175%;
  background-clip: text;
  color: transparent;
  -webkit-animation: gradient 5s ease-in-out infinite;
          animation: gradient 5s ease-in-out infinite;
  -webkit-writing-mode: tb-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: tb-rl;
}

@keyframes gradient {
  0%, 100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

.email_section_container a label {
  cursor: pointer;
  position: absolute;
  left: 0%;
  top: -0.2vh;
  color: white;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.email_section_container a label:hover {
  -webkit-filter: drop-shadow(0 0 0.6944vh rgba(255, 162, 0, 0.5));
          filter: drop-shadow(0 0 0.6944vh rgba(255, 162, 0, 0.5));
}
/*# sourceMappingURL=email-section.css.map */