@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@400;500;600;700&family=Roboto+Mono:wght@400;500;600;700&display=swap");
@-webkit-keyframes gradient {
  0%, 100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}
@keyframes gradient {
  0%, 100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

html {
  scroll-behavior: smooth;
}

html.noscroll {
  overflow: hidden;
}

body {
  margin: 0;
}

.App {
  min-height: 100vh;
  overflow-x: hidden;
}

.App.dark {
  background-color: #0c0c0a;
}

.App.light {
  background-color: white;
}

/*::-webkit-scrollbar {
    @media screen and (min-width: $mobile-max) {
        width: .4vw;
    }
}

::-webkit-scrollbar-track {
    @media screen and (min-width: $mobile-max) {
        background: $darkBgColor;
    }
}

::-webkit-scrollbar-thumb {
    @media screen and (min-width: $mobile-max) {
        border-radius: 1.5vh;
        background-image: $darkScrollBarBg;
        background-size: 175%;
        transition: .3s ease-in-out;
    
        &:hover {
            background-image: $darkLinearGradientStraight;
        }
    }
}*/
p {
  line-height: 130%;
}

@media screen and (min-width: 1023px) {
  p {
    line-height: 130%;
  }
}

p,
h1,
h2,
h3,
h4 {
  margin: 0;
  font-family: 'Archivo';
}

ul {
  padding: 0;
}

li {
  font-family: 'Archivo';
}

a {
  text-decoration: none;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.content .socials_section {
  display: none;
}

.content .email_section {
  display: none;
}

@media screen and (min-width: 1023px) {
  .content .socials_section,
  .content .email_section {
    top: 50% !important;
    -webkit-transform: translateY(-50%) !important;
            transform: translateY(-50%) !important;
  }
  .content .socials_section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed !important;
    left: 3.125vw !important;
  }
  .content .email_section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed !important;
    right: 2.916vw !important;
  }
}

.content_navigator {
  line-height: 100%;
  font-family: 'Archivo';
  font-weight: 500;
  font-size: 2.1vh;
  background-size: 175%;
  -webkit-animation: gradient 5s ease-in-out infinite;
          animation: gradient 5s ease-in-out infinite;
  background-clip: text;
  color: transparent;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
}

@media screen and (min-width: 1023px) {
  .content_navigator {
    font-size: 1.851vh !important;
  }
}

.content_navigator svg {
  margin-top: 1.9vh;
  width: 4vw;
  height: auto;
}

@media screen and (min-width: 1023px) {
  .content_navigator svg {
    margin-top: 2.3148vh !important;
    width: 1.171875vw !important;
  }
}

.content_navigator.dark {
  background-image: linear-gradient(45deg, #ff0080 0%, #ff803b 50%, #ffee00 100%);
}

.content_navigator.dark:hover {
  -webkit-filter: drop-shadow(0 0 0.6944vh rgba(255, 162, 0, 0.5));
          filter: drop-shadow(0 0 0.6944vh rgba(255, 162, 0, 0.5));
}

.content_navigator.dark svg:nth-of-type(1) {
  display: inline-block;
}

.content_navigator.dark svg:nth-of-type(2) {
  display: none;
}

.content_navigator.light {
  background-image: linear-gradient(45deg, #FF0080 0%, #8800FF 50%, #00D3FF 100%);
}

.content_navigator.light:hover {
  -webkit-filter: drop-shadow(0 0 0.6944vh rgba(136, 0, 255, 0.5));
          filter: drop-shadow(0 0 0.6944vh rgba(136, 0, 255, 0.5));
}

.content_navigator.light svg:nth-of-type(1) {
  display: none;
}

.content_navigator.light svg:nth-of-type(2) {
  display: inline-block;
}

.scrolltotop {
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  cursor: pointer;
  border-radius: 100%;
  z-index: 5;
  height: 13.8vw;
  width: 13.8vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  bottom: 3.94vh;
  right: -100%;
  -webkit-box-shadow: 0px 2.5px 15px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 2.5px 15px 0px rgba(0, 0, 0, 0.75);
}

.scrolltotop.scrolled {
  right: 8.33vw;
}

@media screen and (min-width: 1023px) {
  .scrolltotop {
    height: 3.125vw;
    width: 3.125vw;
    bottom: 4.629vh;
  }
  .scrolltotop.scrolled {
    right: 2.604167vw;
  }
  .scrolltotop.dark:hover {
    -webkit-filter: drop-shadow(0 0 0.6944vh rgba(255, 162, 0, 0.5));
            filter: drop-shadow(0 0 0.6944vh rgba(255, 162, 0, 0.5));
  }
  .scrolltotop.light:hover {
    -webkit-filter: drop-shadow(0 0 0.6944vh rgba(136, 0, 255, 0.5));
            filter: drop-shadow(0 0 0.6944vh rgba(136, 0, 255, 0.5));
  }
}

.scrolltotop svg {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  width: 4vw;
  height: auto;
}

@media screen and (min-width: 1023px) {
  .scrolltotop svg {
    width: 1.171875vw !important;
  }
}

.scrolltotop.dark {
  background-color: #0c0c0a;
}

.scrolltotop.dark svg:nth-of-type(1) {
  display: block;
}

.scrolltotop.dark svg:nth-of-type(2) {
  display: none;
}

.scrolltotop.light {
  background-color: white;
}

.scrolltotop.light svg:nth-of-type(1) {
  display: none;
}

.scrolltotop.light svg:nth-of-type(2) {
  display: block;
}
/*# sourceMappingURL=global.css.map */