@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@400;500;600;700&family=Roboto+Mono:wght@400;500;600;700&display=swap");
html {
  scroll-behavior: smooth;
}

html.noscroll {
  overflow: hidden;
}

.App {
  min-height: 100vh;
  background-color: #0c0c0a;
  overflow-x: hidden;
}

p,
h1,
h2,
h3,
h4 {
  margin: 0;
  font-family: 'Archivo';
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

.content {
  position: relative;
}

.content .socials_section {
  position: fixed;
  left: 0%;
  top: 40%;
}

.content .email_section {
  position: fixed;
  right: 0%;
  top: 40%;
}

.content_navigator {
  line-height: 100%;
  font-family: 'Archivo';
  font-weight: 500;
  font-size: 2.1vh;
  background-image: linear-gradient(45deg, #ff0080 0%, #ff803b 50%, #ffee00 100%);
  background-size: 175%;
  background-clip: text;
  color: transparent;
  -webkit-animation: gradient 5s ease-in-out infinite;
          animation: gradient 5s ease-in-out infinite;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

@media screen and (min-width: 1023px) {
  .content_navigator {
    font-size: 1.851vh !important;
  }
}

.content_navigator:hover {
  -webkit-filter: drop-shadow(0 0 0.6944vh rgba(255, 162, 0, 0.5));
          filter: drop-shadow(0 0 0.6944vh rgba(255, 162, 0, 0.5));
}

@-webkit-keyframes gradient {
  0%, 100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

@keyframes gradient {
  0%, 100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

.content_navigator svg {
  margin-top: 1.9vh;
  width: 4vw;
  height: auto;
}

@media screen and (min-width: 1023px) {
  .content_navigator svg {
    margin-top: 2.3148vh !important;
    width: 1.171875vw !important;
  }
}

.socials_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.socials_section span {
  height: 19.73vh;
  width: 0.5vw;
  border-radius: 1.5vh;
  display: block;
  -webkit-filter: drop-shadow(0 0 2vw rgba(255, 162, 0, 0.5));
          filter: drop-shadow(0 0 2vw rgba(255, 162, 0, 0.5));
  background-size: 175%;
}

.socials_section span:nth-of-type(1) {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ffee00), color-stop(50%, #ff803b), to(#ff0080));
  background-image: linear-gradient(0deg, #ffee00 0%, #ff803b 50%, #ff0080 100%);
  margin-bottom: 1.97vh;
}

.socials_section span:nth-of-type(2) {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffee00), color-stop(50%, #ff803b), to(#ff0080));
  background-image: linear-gradient(180deg, #ffee00 0%, #ff803b 50%, #ff0080 100%);
  margin-top: 1.97vh;
}

@media screen and (min-width: 1023px) {
  .socials_section span {
    height: 15vh;
    width: 0.05vw;
    border-radius: 1.5vh;
    display: block;
    -webkit-filter: drop-shadow(0 0 2vw rgba(255, 162, 0, 0.5));
            filter: drop-shadow(0 0 2vw rgba(255, 162, 0, 0.5));
    background-size: 175%;
  }
  .socials_section span:nth-of-type(1) {
    background-image: -webkit-gradient(linear, left bottom, left top, from(#ffee00), color-stop(50%, #ff803b), to(#ff0080));
    background-image: linear-gradient(0deg, #ffee00 0%, #ff803b 50%, #ff0080 100%);
    margin-bottom: 1.416vh;
  }
  .socials_section span:nth-of-type(2) {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffee00), color-stop(50%, #ff803b), to(#ff0080));
    background-image: linear-gradient(180deg, #ffee00 0%, #ff803b 50%, #ff0080 100%);
    margin-top: 1.416vh;
  }
}

.socials_section_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.socials_section_menu a:not(:last-of-type) {
  margin-bottom: 1.05vh;
}

.socials_section_menu a:nth-of-type(1) svg {
  width: 6.30278vw;
  height: 4.41389vw;
}

.socials_section_menu a:nth-of-type(2) svg {
  width: 7.29167vw;
  height: 6.7056vw;
}

.socials_section_menu a:nth-of-type(3) svg {
  width: 6vw;
  height: 5.35vw;
}

@media screen and (min-width: 1023px) {
  .socials_section_menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .socials_section_menu a svg {
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }
  .socials_section_menu a svg:hover {
    -webkit-filter: drop-shadow(0 0 0.6944vh rgba(255, 162, 0, 0.5));
            filter: drop-shadow(0 0 0.6944vh rgba(255, 162, 0, 0.5));
  }
  .socials_section_menu a:not(:last-of-type) {
    margin-bottom: 0.972vh;
  }
  .socials_section_menu a:nth-of-type(1) svg {
    width: 1.33802083vw;
    height: 1.679629vh;
  }
  .socials_section_menu a:nth-of-type(2) svg {
    width: 1.47135416vw;
    height: 2.416vh;
  }
  .socials_section_menu a:nth-of-type(3) svg {
    width: 1.28125vw;
    height: 2.05vh;
  }
}
/*# sourceMappingURL=socials-section.css.map */