//Media Query Sizes
$mobile: 480px;
$mobile-max: 1023px;
$tablet: 768px;
$laptop: 1024px;
$desktop: 1920px;

//Colors
$main-dark: #0c0c0a;
$main-dark-more-transl: rgba(12, 12, 10, 0.75);
$main-dark-transl: rgba(12, 12, 10, 0.9);